
{% if data['viewOption'] == 'adjustmentsReleasedFalse' %}
{% extends "../includes/layouts/template-linear.html" %}
{% else %}
{% extends "../includes/layouts/template.html" %}
{% endif %}

{% set releaseDatesActive = true %}
{% block content %}
<!-- Release dates -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Calculations and release dates
        </h1>
    </div>
</div>

{% if data['toShow'] == "releaseDatesNone" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="govuk-body">There are no release dates calculated for Neil Rudge.</p>
        <p class="gouk-body"><a href="#">Calculate release dates now</a></p> 
    </div>

</div>

{% elif data['toShow'] == "courtCaseAddedFalse" and data['viewOption'] == 'RSReleasedTrue' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <p class="govuk-body">There are no court cases recorded for Neil Rudge.</p>
        <p class="gouk-body"><a href="#">Record a court case now</a></p>
    </div>

</div>

{% elif data['toShow'] == "courtCaseAddedFalse" and data['viewOption'] == 'adjustmentsReleasedTrue' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <p class="govuk-body">There are no sentences for Neil Rudge.</p>
        <p class="gouk-body">Check the details in NOMIS and then try again.</p> 
    </div>

</div>

{% elif data['toShow'] == "courtCaseAddedFalse" and data['viewOption'] == 'adjustmentsReleasedFalse' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <p class="govuk-body">There are no sentences for Neil Rudge.</p>
        <p class="gouk-body">Check the details in NOMIS and then try again.</p> 
    </div>

</div>


{% else %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Transfer calculation on 8 May 2023 at HMP Kirkham</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculation-history/05-08-2023/check-sentence-and-offence-information">View details<span class="govuk-visually-hidden"> of Transfer calculation on 8 May 2023 at HMP Kirkham</span></a>
                  </li>
                 
                </ul>
                <!-- <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-marrgin-top-1">Latest calculation: <a href="#">8 May 2023 at HMP Kirkham</a></p> -->
            </div>
            <div class="govuk-summary-card__content" id="release-dates">
                <dl class="govuk-summary-list release-dates-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            SLED
                            <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Thursday, 19 February 2036</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            CRD
                            <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Sunday, 19 February 2034</p>
                            <p class="govuk-!-font-size-16 govuk-hint">Friday, 17 February 2034 when adjusted to a working day</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            PED
                            <p class="govuk-!-font-size-16 govuk-hint">Parole Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Friday, 21 April 2028</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24 govuk-!-padding-bottom-0">
                            ERSED
                            <p class="govuk-!-font-size-16 govuk-hint">Early Removal Scheme Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Wednesday, 21 April 2027</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

    
    <div class="govuk-summary-card" id="calculation-history">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Calculation history</h2>
        </div>
        <div class="govuk-summary-card__content">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Calculation date</th>
                        <th scope="col" class="govuk-table__header">Reason</th>
                        <th scope="col" class="govuk-table__header">Establishment</th>
                        <th scope="col" class="govuk-table__header">Source</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body"> 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="calculation-history/05-08-2023/check-sentence-and-offence-information">8 May 2023</a></td>
                        <td class="govuk-table__cell" data-sort-value="8850">Transfer calculation</td>
                        <td class="govuk-table__cell">HMP Kirkham</td>
                        <td class="govuk-table__cell">Calculate Release Dates Service</td> 
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="calculation-history/03-01-2023/check-sentence-and-offence-information">2 January 2023</a></td>
                        <td class="govuk-table__cell" data-sort-value="8850">Initial calculation</td>
                        <td class="govuk-table__cell">HMP Bristol</td>
                        <td class="govuk-table__cell">Calculate Release Dates Service</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="actions-list">
            <ul class="govuk-list actions-list-list">
                <span class="govuk-heading-m actions-list-header">Actions</span>
                <li><a href="calculate-release-dates/calculation-reason">Calculate release dates</a></li>
                <li><a href="calculate-release-dates/select-which-approved-dates">Enter an approved date</a></li> 
            </ul>
        </div>
    </div>

</div>



    {% endif %}
    {% endblock %}