{% extends "../../template.html" %}
{% set releaseDatesActive = true %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../../release-dates" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-4">Back</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Calculation on 5 August 2022
        </h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Calculation reason
                </dt>
                <dd class="govuk-summary-list__value">
                    Initial calculation
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Establishment
                </dt>
                <dd class="govuk-summary-list__value">
                    HMP Leeds
                </dd>
            </div>
        </dl>
    </div>
</div>
<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="sentence-and-offence-information">Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="adjustments">Adjustments</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="breakdown">Calculation breakdown</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="release-dates">Release dates</a>
        </li>
    </ul>
</nav>
<!-- Release dates -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Release dates</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__content" id="release-dates">
                <dl class="govuk-summary-list release-dates-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            SLED
                            <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Sunday, 23 October 2039
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            CRD
                            <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            Wednesday, 23 October 2030
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}