{% extends "../../../includes/layouts/template.html" %}
{% set releaseDatesActive = true %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../../release-dates" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-4">Back</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Calculation on 5 August 2022
        </h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Calculation reason
                </dt>
                <dd class="govuk-summary-list__value">
                    Initial calculation
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Establishment
                </dt>
                <dd class="govuk-summary-list__value">
                    HMP Leeds
                </dd>
            </div>
        </dl>
    </div>
</div>
<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="sentence-and-offence-information">Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="adjustments">Adjustments</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="breakdown">Calculation breakdown</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="release-dates">Release dates</a>
        </li>
    </ul>
</nav>
<!-- Court case 1 -->
<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Court case 1</h3>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court case number
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="../../court-cases/court-case-T20220101">T20220101</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court name
                </dt>
                <dd class="govuk-summary-list__value">
                    Leeds Crown Court
                </dd>
            </div>
        </dl>
    </div>
</div>
<!-- Count 1 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Conspire to commit a burglary dwelling with intent to steal
        </h4>
        <p class="govuk-body-s">Committed from 12 May 2021 to 16 October 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">0 years 75 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Concurrent
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Count 2 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 2</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Robbery
        </h4>
        <p class="govuk-body-s">Committed on 25 June 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">15 years 0 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Concurrent
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Court case 2 -->
<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Court case 2</h3>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court case number
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="../../court-cases/court-case-T20220102">T20220102</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court name
                </dt>
                <dd class="govuk-summary-list__value">
                    Leeds Crown Court
                </dd>
            </div>
        </dl>
    </div>
</div>
<!-- Count 1 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Conspire to produce cannabis a class B drug
        </h4>
        <p class="govuk-body-s">Committed from 26 December 2020 to 22 October 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">3 years 0 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Consecutive to court case <a href="court-case-T20220101">T20220101</a> count 2
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Count 2 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 2</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Conspire to supply a controlled drug of Class B - cannabis resin
        </h4>
        <p class="govuk-body-s">Committed from 26 December 2020 to 22 October 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">3 years 0 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Concurrent
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Count 3 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 3</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Conceal / disguise / convert / transfer / remove criminal property
        </h4>
        <p class="govuk-body-s">Committed from 30 April 2021 to 01 June 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">3 years 0 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Concurrent
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Count 4 -->
<div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 4</h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
            Acquire / use / possess criminal property
        </h4>
        <p class="govuk-body-s">Committed on 21 October 2021</p>
        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                    <td class="govuk-table__cell">2020</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                    <td class="govuk-table__cell">Sentencing Code Standard Determinate Sentence</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                    <td class="govuk-table__cell">1 July 2022</td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                    <td class="govuk-table__cell">3 years 0 months 0 weeks 0 days
                    </td>
                </tr>
                <tr class="govuk-table__row govuk-body-s">
                    <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                    <td class="govuk-table__cell">Concurrent
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}