{% extends "../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row"> 
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="check-answers">


                {% if data['toShow'] == 'fixedOrStandard' %}

                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
                    
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Confirm recall type
                            </h1>
                        </legend> 

                        
                        <p class="govuk-body">We've identified the following recall types based on the this person's recall dates and sentence and offence information.</p>

                        <p class="gouk-body">If you believe this information is wrong, check the details in NOMIS and then <a class="govuk-link" href="#">try again</a>.</p> 

                        <div class="govuk-radios" data-module="govuk-radios">
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculationReasonId" name="calculationReasonId" type="radio" value="1" data-qa="reasonRadio-1">
                                <label class="govuk-label govuk-radios__label" for="calculationReasonId">
                                14 day fixed-term recall
                                </label> 
                            </div>
                                
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculationReasonId-2" name="calculationReasonId" type="radio" value="2" data-qa="reasonRadio-2">
                                <label class="govuk-label govuk-radios__label" for="calculationReasonId-2">
                                28 day fixed-term recall
                                </label> 
                            </div>
                                
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculationReasonId-3" name="calculationReasonId" type="radio" value="3" data-qa="reasonRadio-3">
                                <label class="govuk-label govuk-radios__label" for="calculationReasonId-3">
                                Standard recall
                                </label> 
                            </div> 
                                
                        </div> 

                    </fieldset> 
                </div>
                {% elif data['toShow'] == 'HDC' %}
 
                <h1 class="govuk-heading-xl">
                    Home Detention Curfew (HDC) recall required
                </h1> 

            
                <p class="govuk-body">We've identified that an HDC recall is required based on the this person's recall dates and sentence and offence information.</p>

                <p class="govuk-body">If you think some information is wrong, you must perform a recall on NOMIS.</p>
        
        
                {% else %}

                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
                        
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    Confirm recall type
                                </h1>
                            </legend> 

                        
                            <p class="govuk-body">We've identified the following recall types based on the this person's recall dates and sentence and offence information.</p>
                            
                            <p class="govuk-body">If you think some information is wrong, you must perform a recall on NOMIS.</p>
    

                            <div class="govuk-radios" data-module="govuk-radios">
                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="calculationReasonId" name="calculationReasonId" type="radio" value="1" data-qa="reasonRadio-1">
                                    <label class="govuk-label govuk-radios__label" for="calculationReasonId">
                                    14 day fixed-term recall
                                    </label> 
                                </div>
                                    
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="calculationReasonId-2" name="calculationReasonId" type="radio" value="2" data-qa="reasonRadio-2">
                                    <label class="govuk-label govuk-radios__label" for="calculationReasonId-2">
                                    28 day fixed-term recall
                                    </label> 
                                </div>
                                    
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="calculationReasonId-3" name="calculationReasonId" type="radio" value="3" data-qa="reasonRadio-3">
                                    <label class="govuk-label govuk-radios__label" for="calculationReasonId-3">
                                    Standard recall
                                    </label> 
                                </div>
                                    
                            </div> 

                        </fieldset> 
                    </div>

                {% endif %}

                    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                    Continue
                    </button>

            </form>
        </div>
    </div>
</div>
{% endblock %}