{% extends "../../includes/layouts/template-linear.html" %}
{% set documentsActive = true %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="c" class="govuk-back-link">Back</a>
</div>
<!-- Documents -->
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Record a recall</span>
      Check your answers
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="calculation-summary" method="post" enctype="multipart/form-data">
      <div class="govuk-form-group">
        <dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 30%;">
              Licence revocation date
            </dt>
            <dd class="govuk-summary-list__value">
              11 September 2024
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="revocation-date">Change<span
                  class="govuk-visually-hidden"> return to custody date</span>
                </a>

            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 30%;">
              Return to custody date
            </dt>
            <dd class="govuk-summary-list__value">
              12 September 2024
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="return-to-custody-date">Change<span
                  class="govuk-visually-hidden"> return to custody date</span>
                </a>

            </dd>

          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 20%;">
              Sentences
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>

            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="check-sentence-and-offence-information">Review<span
              class="govuk-visually-hidden">sentences</span>
            </a>
            </dd>


          </div>



          <div class="govuk-summary-list__row govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 20%;">
              Recall type
            </dt>
            <dd class="govuk-summary-list__value">
              Fixed-term recall
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="recall-type">Change<span
                  class="govuk-visually-hidden"> 14-day fixed-term recall</span></a>

            </dd>

          </div>



          <div class="govuk-summary-list__row govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 20%;">
              Recall length
            </dt>
            <dd class="govuk-summary-list__value">
              14 days
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="recall-type">Change<span
                  class="govuk-visually-hidden"> 14-day fixed-term recall</span></a>

            </dd>

          </div>

        </dl>
      </div>


          
      <div class="govuk-inset-text">
        An additional <b>3 days</b> of UAL (unlawfully at large) have been added.
      </div>

          
      <div class="govuk-inset-text">
        This will be saved to NOMIS as ORA 14 Day Fixed Term Recall.
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and calculate release dates
      </button>
    </form>
  </div>
</div>
</div>
{% endblock %}