{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="edit" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div id="moj-width-container" class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-xl">Record a recall</span>
                        Select sentences for the recall
                    </h1>
                    <div class="govuk-!-margin-bottom-8">
                        <p class="govuk-body">Based on the information provided, we have identified 2 sentences.</p>
                        <p class="govuk-body">The latest SLED (Sentence and licence expiry date) is <b>Thursday, 19 February 2036</b>.</p>
                    </div>
                </div>

               
                    <!-- Court case 1 -->
                    <div class="moj-width-container"> 
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h3>

                                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Court case number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            T20200101
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Court name
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Wolverhampton Crown Court
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    
            <div class="moj-width-container"> 
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <fieldset class="govuk-fieldset" aria-describedby="case-1-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Sentences
                            </legend>
                            <div id="case-1-hint" class="govuk-hint">
                                Select all that apply
                            </div>
                            <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item" >
                                    <input class="govuk-checkboxes__input" id="case-1-offence-1" name="case-1-offences" type="checkbox" checked
                                           aria-describedby="case-1-offence-1-hint"
                                           value="Affray"
                                           data-court="Bristol Magistrates Court"
                                           data-case-ref="T20220702"
                                           data-offence-date="Committed on 1 Jan 2023"
                                           data-offence-date-date="1 Jan 2023"
                                           data-id="1">
                                    <label class="govuk-label govuk-checkboxes__label" for="case-1-offence-1" style="padding-top: 0px; width: 100%;">
                                       
                                    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                                        <div class="govuk-grid-column-full govuk-!-margin-top-4">
                                            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 3</h3>
                                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                                                Buggery - other than in private - male victim
                                            </h4>
                                            <p class="govuk-body-s">Committed from 3 November 1976 to 2 November 1982</p>
                                            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                                <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                                                        <td class="govuk-table__cell">2003</td>
                                                    </tr>
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                                                        <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                                                    </tr>
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                                        <td class="govuk-table__cell">21 February 2018</td>
                                                    </tr>
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                                        <td class="govuk-table__cell">13 years 0 months 0 weeks 0 days
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                                                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row govuk-body-s">
                                                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                                                        <td class="govuk-table__cell">Concurrent
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>  
                                    </label> 
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="case-1-offence-2" name="case-1-offences"  type="checkbox"
                                           aria-describedby="case-1-offence-2-hint"
                                           value="Burglary other than dwelling - theft"
                                           data-court="Bristol Magistrates Court"
                                           data-case-ref="T20220702"
                                           data-offence-date="Committed on 1 Jan 2023"
                                           data-offence-date-date="1 Jan 2023"
                                           data-id="2"
                                    >
                                    <label aria-describedby="offence1" class="govuk-label govuk-checkboxes__label" for="case-1-offence-2" style="padding-top: 0px; width: 100%;">
                                        <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                                            <div class="govuk-grid-column-full govuk-!-margin-top-4">
                                                <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 2</h3>
                                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                                                    INDECENT ASSAULT ON A CHILD
                                                </h4>
                                                <p class="govuk-body-s">Committed from 17 December 1986 to 16 December 1988</p>
                                                <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                                    <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                                                            <td class="govuk-table__cell">2020</td>
                                                        </tr>
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                                                            <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                                                        </tr>
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                                            <td class="govuk-table__cell">21 February 2018</td>
                                                        </tr>
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                                            <td class="govuk-table__cell">13 years 0 months 0 weeks 0 days
                                                            </td>
                                                        </tr>
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                                                            <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                                                            </td>
                                                        </tr>
                                                        <tr class="govuk-table__row govuk-body-s">
                                                            <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                                                            <td class="govuk-table__cell">Consecutive to court case 1 count 1
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </label> 
                                </div>
                            </div>
                             
                        </fieldset> 
                    </div>
                    </div>
                    </div>
                    <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                    <h2 class="govuk-heading-m">
                        Court case 2
                    </h2>
                    <p>
                        <b>Court name</b> Bristol Magistrates court.<br>
                        <b>case reference</b> T20223256
                    </p>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <span class="govuk-fieldset__heading">
                                    Offences
                                </span>
                            </legend>
                            <div id="waste-hint" class="govuk-hint">
                                Select all that apply
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input"  id="case-2-offence-1" name="case-2-offences" type="checkbox"
                                           aria-describedby="case-2-offence-1-hint"
                                           value="Attempt to possess a controlled drug of Class C - GHB"
                                           data-court="Bristol Magistrates Court"
                                           data-case-ref="T20223256"
                                           data-offence-date="Committed on 12 Jan 2023"
                                           data-offence-date-date="12 Jan 2023"
                                           data-id="3"

                                    >
                                    <label class="govuk-label govuk-checkboxes__label" for="case-2-offence-1">
                                        Attempt to possess a controlled drug of Class C - GHB
                                        <span class="moj-badge moj-badge--grey govuk-!-margin-left-2">Recall</span><br>
                                    </label>
                                    <div id="case-2-offence-1-hint" class="govuk-hint govuk-checkboxes__hint">
                                        Committed on 12 Jan 2023
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="case-2-offence-2" name="case-2-offences" type="checkbox"
                                           aria-describedby="case-2-offence-2-hint"
                                           value="Attempt to possess a controlled drug of Class C - GHB"
                                           data-court="Bristol Magistrates Court"
                                           data-case-ref="T20223256"
                                           data-offence-date="Committed on 2 Jan 2023"
                                           data-offence-date-date="2 Jan 2023"
                                           data-id="4"
                                    >
                                    <label  class="govuk-label govuk-checkboxes__label" for="case-2-offence-2">
                                        Attempt to possess a controlled drug of Class C - GHB
                                    </label>
                                    <div id="case-2-offence-2-hint" class="govuk-hint govuk-checkboxes__hint">
                                        Committed on 2 Jan 2023
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="case-2-offence-3" name="case-2-offences" type="checkbox"
                                           aria-describedby="case-2-offence-3-hint"
                                           value="Burglary other than dwelling - theft"
                                           data-court="Bristol Magistrates Court"
                                           data-case-ref="T20223256"
                                           data-offence-date="Committed on 3 Jan 2023"
                                           data-offence-date-date="3 Jan 2023"
                                           data-id="5"
                                    >
                                    <label  class="govuk-label govuk-checkboxes__label" for="case-2-offence-3">
                                        Burglary other than dwelling
                                    </label>
                                    <div id="case-2-offence-3-hint" class="govuk-hint govuk-checkboxes__hint">
                                        Committed on 1 Jan 2023
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->
 
                    <p class="govuk-inset-text">If you think some information is wrong, you can edit it in NOMIS and <a href="#">reload this page</a>.</p>
                    <div class="govuk-button-group">
                        <a href="review-unused-deductions-2" id="add-offences-button" class="govuk-button" data-name="ADA" data-desc="ADA (Additional days awarded)">
                            Continue
                        </a>
                        <a href="../index-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}