{% extends "../../includes/layouts/layout_hmpps-unbranded.html" %}

{% block content %}

<body class="govuk-template__body  js-enabled" data-new-gr-c-s-check-loaded="14.1110.0" data-gr-ext-installed="">
    <script
        nonce="">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
 
    <div class="govuk-width-container ">

        <span class="govuk-visually-hidden" id="occurrence-notification-slip-page"></span>

        <main class="govuk-main-wrapper " id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l govuk-visually-hidden">Print notification slip</h1>

                    <div class="govuk-button-group govuk-!-display-none-print">
  
                        <button data-prevent-double-click="true"
                            class="govuk-button govuk-button--blue js-print no-js-hidden" data-module="govuk-button">
                            Print notification slip
                        </button>

                    </div>
                </div>
            </div>

            <div class="notification-slip">
                <!-- <div class="hmpps-logo-wrapper"><img src="/public/images/hmpps-logo.png" alt="HMPPS logo"> </div> -->
               
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m" style="font-weight: normal; float: right;">HMP Kirkham</h2>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-xl">Your release dates </h1>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border ">
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-body-l">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body-l">
                                Joe Bloggs
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-body-l">
                                Prison number
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body-l">
                                A8207AA
                            </dd>
                            </div> 
                        </dl>
                    </div>
                </div>
                
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body-l">Your release dates were calculated on <b>1 August 2023</b>.</p>
                        <p class="govuk-body-l">If you need help understanding your release dates, speak to your wing officer.</p>
               
                        <div style="background-color: #f3f2f1; padding: 30px 10px 30px 10px; margin-bottom: 30px; text-align: center; ">
                            <h2 class="govuk-heading-l" style="margin-bottom: 20px; display: "><span style="font-weight: normal;">You are scheduled to leave prison on </span>1 December 2024</h2> 
                            <p class="govuk-body" style="margin-bottom: 0px; ">This is your <strong>Conditional Release Date (CRD)</strong></p>
                        </div>
                        
                        <h2 class="govuk-heading-l">Other important dates</h2>
                        <p class="govuk-body-l" style="margin-bottom: 10px;">Your sentence is scheduled to finish on <b>1 December 2026</b>.</p>
                        <p class="govuk-body" style="margin-bottom: 40px;">This is your <b>Sentence and Licence Expiry Date (SLED)</b></p>
                        <p class="govuk-body-l" style="margin-bottom: 10px;">You can apply for Home Detention Curfew from <b>1 July 2024</b>.</p>
                        <p class="govuk-body" style="margin-bottom: 40px;">This is your <b>Home Detention Curfew Eligibility Date (HDCED)</b></p>

                        <h2 class="govuk-heading-l">Sentence details</h2>
                        <table class="govuk-table ">
                            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Sentence details</caption>
                            <thead class="govuk-table__head govuk-body-l">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Sentence</th>
                                <th scope="col" class="govuk-table__header">Sentence start date</th>
                                <th scope="col" class="govuk-table__header">Sentence length</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body govuk-body-l">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 1, count 1</td>
                                <td class="govuk-table__cell">1 December 2021</td>
                                <td class="govuk-table__cell">5 years</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 2, count 1</td>
                                <td class="govuk-table__cell">1 December 2021</td>
                                <td class="govuk-table__cell">4 months</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 2, count 2</td>
                                <td class="govuk-table__cell">1 December 2021</td>
                                <td class="govuk-table__cell">4 months concurrent to <br>Court case 2, count 2</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                        <h2 class="govuk-heading-l">Adjustments</h2>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value  govuk-body-l">
                                Remand
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body-l">
                                3 days taken away from your sentence 
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value  govuk-body-l">
                                Unlawfully At Large
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body-l">
                                5 days added to your sentence
                            </dd>
                            </div> 
                        </dl>
                    </div>
                </div>
                <p class="govuk-body notification-slip-footer">Printed at 14:34 on Tuesday, 13 April 2024</p>
            </div>


        </main>
    </div>




    {% endblock %}