{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="unsupported-sentences" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-top-6">

           
        <h1 class="govuk-heading-l"> 
            <span class="govuk-caption-xl">Record a recall</span>
            Confirm that this court case is relevant to the recall
        </h1> 


        <p class="govuk-body">Relevant cases are those with sentences that were active when this person's licence was revoked.</p>
    

    

          <span class="govuk-heading-s">Court case 2 of 3</span>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">56F2356989 <span class="govuk-body">at</span> Barnsley Magistrate Court</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            
                            <!-- <a class="govuk-link govuk-link--no-visited-state" href="//create-appearance?courtIndex=4">Select court case</a> -->
                            
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    
                      
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case references
                            </dt>
                            <dd class="govuk-summary-list__value">
                                56F2356989
                            </dd>
                        </div> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 August 2024
                            </dd>
                        </div>
                        
                     
                    </dl>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <div class="govuk-grid-row">
                   
                    </div>
                    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                      
                        <div class="govuk-grid-column-full  ">
                            
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                                    <details class="govuk-details show-toggle govuk-!-margin-bottom-0" open="">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                offences (1)
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count 1</span>
                                        <h4 class="govuk-heading-s">MD71526 - Possess with intent to supply a controlled drug of Class B - Cannabis
                                            </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                09/02/2023
                                
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                08/08/2023
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                EDS Sec 279 Sentencing Code (21+)
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                                2 years
                                
                                
                                0 months
                                
                                
                                0 weeks
                                
                                
                                0 days
                                
                            </dd>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Forthwith
                                
                                
                            </dd>
                        </div>
                        
                    </dl>
                                    </div>
                                </div>
                                
                                    </div></details>
                        </div>
                    </div>
                    
                     
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-6">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Is this court case relevant to the recall?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sentencesReplaced-2" name="sentencesReplaced" type="radio" value="
                        Yes, this offence was replaced with Actual Bodily Harm (Section 47) committed on 29 October 2023">
                        <label class="govuk-label govuk-radios__label" for="sentencesReplaced-2">
                          Yes
                        </label>
                      </div> 
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sentencesReplaced" name="sentencesReplaced" type="radio" value="No, this offence has not been replaced">
                      <label class="govuk-label govuk-radios__label" for="sentencesReplaced">
                        No
                      </label>
                    </div>

                    <!-- <div class="govuk-radios__divider">or</div> -->

                  </div>
                </fieldset>
              </div>


     
              <div class="govuk-button-group"> 

                <form method="post" action="unsupported-sentences-3">
                    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                        Continue
                    </button> 
                <!-- </form> -->
                <!-- <form method="post" action="cancel"> -->
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </button>
                </form>
            </div> 
    </div>
</div>
{% endblock %}