{% extends "../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}

<!-- Back link -->
<div class="moj-width-container">
    <a href="overview-2" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <!-- <span class="govuk-caption-xl">Adjust release dates</span> -->
            Recall history
        </h1>
    </div>
</div> 
 


<div class="govuk-grid-row">  
   
    <div class="govuk-grid-column-two-thirds">
        <a href="recalls/revocation-date" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Record a recall
        </a> 
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Licence revocation date</th>
                    <th scope="col" class="govuk-table__header">Return to custody date</th>
                    <th scope="col" class="govuk-table__header">Recall type</th> 
                </tr>
            </thead>
            <tbody class="govuk-table__body"> 
 
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">11 September 2024</td>
                    <td class="govuk-table__cell">12 September 2024</td>
                    <td class="govuk-table__cell">Fixed-term 14-day recall</td> 
                </tr>
 
                </tr>
            </tbody>
        </table>
    </div>
  
</div>
 
   
<script>
function toggleAlert() {
    var x = document.getElementById("alert");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}