{% extends "../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}

<!-- Back link -->
<div class="moj-width-container">
    <a href="release-dates" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            <!-- <span class="govuk-caption-xl">Recall details</span> -->
            Recall details
        </h1>
    </div>
</div> 
 


<div class="govuk-grid-row">  
   
    <div class="govuk-grid-column-two-thirds"> 
        <!-- <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Recorded date</th> 
                    <th scope="col" class="govuk-table__header">Licence revocation date</th>
                    <th scope="col" class="govuk-table__header">Arrest date</th>
                    <th scope="col" class="govuk-table__header">Recall type</th> 
                </tr>
            </thead>
            <tbody class="govuk-table__body"> 
 
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">23 July 2024</td>
                    <td class="govuk-table__cell">22 July 2024</td>
                    <td class="govuk-table__cell">22 July 2024</td>
                    <td class="govuk-table__cell"> 14-day fixed-term</td> 
                </tr>
 
                </tr>
            </tbody>
        </table> -->

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Recorded date
              </dt>
              <dd class="govuk-summary-list__value">
                3 September 2024
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Licence revocation date
              </dt>
              <dd class="govuk-summary-list__value">
                26 August 2024
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">license revocation date</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Arrest date
              </dt>
              <dd class="govuk-summary-list__value">
                29 August 2024
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">arrest date</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Recall type
              </dt>
              <dd class="govuk-summary-list__value">
               ORA license recall
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">arrest date</span></a>
              </dd>
            </div>
          </dl>

        <h2 class="govuk-heading-m">
            <!-- <span class="govuk-caption-xl">Recall details</span> -->
            Associated calculations
        </h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Calculation date</th>
                    <th scope="col" class="govuk-table__header">Calculation reason</th>
                    <th scope="col" class="govuk-table__header">Establishment</th>
                    <th scope="col" class="govuk-table__header">Source</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body"> 

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="calculation-history/03-01-2023/check-sentence-and-offence-information">3 September 2024</a></td>
                    <td class="govuk-table__cell" data-sort-value="8850">Recording a recall</td>
                    <td class="govuk-table__cell">HMP Kirkham</td>
                    <td class="govuk-table__cell">Calculate release dates service</td> 
                </tr> 
            </tbody>
        </table>
    </div>
  
</div>
 
   
<script>
function toggleAlert() {
    var x = document.getElementById("alert");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}