{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}

<!-- Breadcrumbs -->
<div class="moj-width-container">
    <!--     <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div> -->
</div>
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Calculation complete for<br>Joe Bloggs
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-19">
                    The calculation has been saved in NOMIS.
                </div>
            </div>
            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-l">What you can do next</h2>
                <p class="govuk-body"><a href="{{ asset_path }}images/calculation-summary.pdf">Print calculation summary</a></p>
                <p class="govuk-body"><a href="../overview">View Joe Blogg's court case and release dates information</a></p>
                <p class="govuk-body"><a href="../DPS-prisoner-profile">View Joe Blogg's prisoner profile</a></p>
                <p class="govuk-body"><a href="../DPS-home">Back to DPS homepage</a></p>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="">
                <h2 class="govuk-heading-m">Help improve this service</h2>
                <p class="govuk-body">This is a new service. Your feedback will help make it better. To give feedback you can:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="">complete a short survey</a></li>
                    <li><a href="">report a specific problem by email</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}