{% extends "../template-no-identity-bar.html" %}
{% block content %}

<!-- Breadcrumbs -->
<div class="moj-width-container">
    <!--     <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div> -->
</div>
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Calculation complete for<br>Neil Rudge
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-19">
                    The calculation has been saved in NOMIS.
                </div>
            </div>
            <div class="govuk-!-margin-top-8">
                <!-- <p class="govuk-body govuk-!-margin-top-6"><a href="#">Return to NOMIS</a></p> -->
                <p class="govuk-body"><a href="{{ asset_path }}images/calculation-summary.pdf">Print calculation summary</a></p>
                <p class="govuk-body"><a href="../overview">Back to homepage for Neil Rudge</a></p>
                <p class="govuk-body"><a href="../search-person-results?navOption=crd">Calculates release dates for someone else</a></p>
            </div>
            <div class="govuk-!-margin-top-9">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                <h2 class="govuk-heading-l">Help improve this service</h2>
                <p class="govuk-body">This is a new service. Your feedback will help make it better. To give feedback you can:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="">complete a short survey</a></li>
                    <li><a href="">report a specific problem</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}