{% extends "../includes/layouts/template.html" %}

{% set overviewActive = true %}
{% block content %}
<!-- Release dates and calculations -->
<main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">Release dates and calculations</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-l">Latest calculation</h3>
            <ul class="govuk-list govuk-!-margin-bottom-7">
                <li><a class="govuk-link govuk-!-padding-right-2"
                        href="/view/A5504EA/calculation-summary/64395/printNotificationSlip?fromPage=view"
                        data-qa="release-notification-hook">Print notification slip</a></li>
                <li><a class="govuk-link" href="/view/A5504EA/sentences-and-offences/64395"
                        data-qa="latest-calc-card-action">View details</a></li>
            </ul>
            <div class="govuk-summary-card">
                <!-- <div class="govuk-summary-card__title-wrapper">
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li><a class="govuk-link govuk-!-padding-right-2"
                            href="/view/A5504EA/calculation-summary/64395/printNotificationSlip?fromPage=view"
                            data-qa="release-notification-hook">Print notification slip</a></li>
                    <li><a class="govuk-link" href="/view/A5504EA/sentences-and-offences/64395"
                            data-qa="latest-calc-card-action">View details</a></li>
                </ul>
            </div> -->
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row" data-qa="latest-calculation-card-release-date-SLED">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24"><span
                                    class="release-dates-type">SLED</span>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-description">Sentence and licence
                                    expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value release-dates-value">
                                <span class="release-date-formatted">Saturday, 15 September 2035</span>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row" data-qa="latest-calculation-card-release-date-CRD">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24"><span
                                    class="release-dates-type">CRD</span>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-description">Conditional release
                                    date</p>
                            </dt>
                            <dd class="govuk-summary-list__value release-dates-value">
                                <span class="release-date-formatted">Thursday, 23 July 2026</span>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-hint">40% date has been applied
                                </p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row" data-qa="latest-calculation-card-release-date-HDCED">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24"><span
                                    class="release-dates-type">HDCED</span>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-description">Home detention
                                    curfew eligibility date</p>
                            </dt>
                            <dd class="govuk-summary-list__value release-dates-value">
                                <span class="release-date-formatted">Sunday, 25 January 2026</span>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-hint">Monday, 26 January 2026
                                    when adjusted to a working day</p>
                                <p class="govuk-!-font-size-16 govuk-hint release-date-hint">40% date has been applied
                                </p>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Calculation date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        02 October 2024
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Establishment
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Kirkham (HMP)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reason
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Transfer check
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Source
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Manual calculation
                    </dd>
                </div>
            </dl>
            <h3 class="govuk-heading-l govuk-!-margin-top-8">Calculation history</h3>
            <table class="govuk-table" data-qa="calculation-history-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row" data-qa="calculation-history-table-headings">
                        <th scope="col" class="govuk-table__header">Calculation date</th>
                        <th scope="col" class="govuk-table__header">Calculation reason</th>
                        <th scope="col" class="govuk-table__header">Establishment</th>
                        <th scope="col" class="govuk-table__header">Source</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-1">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/sentences-and-offences/64395">02 October 2024</a></td>

                        <td class="govuk-table__cell">Transfer check</td>
                        <td class="govuk-table__cell">Kirkham (HMP)</td>
                        <td class="govuk-table__cell">Calculate release dates service</td>
                    </tr>
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-2">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/nomis-calculation-summary/5638452">23 July 2024</a></td>

                        <td class="govuk-table__cell">Adjust Sentence</td>
                        <td class="govuk-table__cell">Not entered</td>
                        <td class="govuk-table__cell">Manual calculation</td>
                    </tr>
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-3">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/nomis-calculation-summary/5638451">23 July 2024</a></td>

                        <td class="govuk-table__cell">Adjust Sentence</td>
                        <td class="govuk-table__cell">Not entered</td>
                        <td class="govuk-table__cell">NOMIS</td>
                    </tr>
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-4">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/nomis-calculation-summary/5638450">23 July 2024</a></td>

                        <td class="govuk-table__cell">Adjust Sentence</td>
                        <td class="govuk-table__cell">Not entered</td>
                        <td class="govuk-table__cell">NOMIS</td>
                    </tr>
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-5">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/nomis-calculation-summary/5638449">23 July 2024</a></td>

                        <td class="govuk-table__cell">Adjust Sentence</td>
                        <td class="govuk-table__cell">Not entered</td>
                        <td class="govuk-table__cell">NOMIS</td>
                    </tr>
                    <tr class="govuk-table__row" data-qa="calculation-history-table-data-6">

                        <td class="govuk-table__cell"><a class="govuk-link"
                                href="/view/A5504EA/nomis-calculation-summary/5638448">23 July 2024</a></td>
                        <td class="govuk-table__cell">Offence Modified</td>
                        <td class="govuk-table__cell">Not entered</td>
                        <td class="govuk-table__cell">NOMIS</td>
                    </tr>
                </tbody>
            </table>
            </div>
        <div class="govuk-grid-column-one-third">
            <div class="actions-list">
                <ul class="govuk-list actions-list-list">
                    <span class="govuk-heading-m actions-list-header">Actions</span>

                    <li><a class="govuk-link" data-qa="calc-release-dates-for-prisoner-action-link"
                            href="/calculation/A5504EA/reason">Calculate release dates</a></li>

                    <li><a class="govuk-link" data-qa="calc-release-dates-for-adding-dates-link"
                            href="/calculation/A5504EA/reason?isAddDatesFlow=true">Add APD, HDCAD or ROTL dates</a></li>

                    <li><a class="govuk-link" data-qa="bulk-comparison-action-link" href="/compare">Perform bulk
                            comparison</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}