{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container govuk-!-margin-bottom-3">
    <a href="../../release-dates" class="govuk-back-link">Back</a>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">


        <li class="moj-side-navigation__item ">
        <a href="calculation-release-dates" >Release dates</a>
        </li>


        <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="calculation-sentences-and-offences" aria-current="true" >Sentence and offences</a>
          </li>

        <li class="moj-side-navigation__item">
            <a href="calculation-adjustments">Adjustments</a>
          </li>

        <li class="moj-side-navigation__item ">
        <a href="calculation-breakdown">Calculation breakdown</a>
        </li>
      </ul>
    </nav>

  </div>  
<div class="govuk-grid-column-three-quarters"> 
    <h2 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Transfer calculation on 8 May 2023 at HMP Kirkham</span>
        Sentence and offences
    </h2>

        <div class="govuk-button-group">

            <a href="print-attendee-list" role="button" draggable="false" class="govuk-button govuk-button--blue moj-button-menu__item govuk-!-margin-bottom-0" data-module="govuk-button">
            Print this page
            </a>
         
        </div>


<!-- Sentence and offences -->  


<div class="moj-width-container govuk-!-margin-top-4">
    <p class="govuk-body">There are 5 sentences included in this calculation.</p> 
</div>

<!-- Court case 1 -->
<div class="moj-width-container govuk-!-margin-top-4">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T20200101
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Wolverhampton Crown Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Count 1 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Buggery - other than in private - male victim
            </h4>
            <p class="govuk-body-s">Committed from 3 November 1976 to 2 November 1982</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2003</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">EDS LASPO Discretionary Release</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">21 February 2018</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">13 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Concurrent
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Count 2 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 2</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                INDECENT ASSAULT ON A CHILD
            </h4>
            <p class="govuk-body-s">Committed from 17 December 1986 to 16 December 1988</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2003</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">21 February 2018</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">13 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Consecutive to court case 1 count 1
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Count 3 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 3</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Buggery - other than in private - male victim
            </h4>
            <p class="govuk-body-s">Committed from 3 November 1976 to 2 November 1982</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2003</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">21 February 2018</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">13 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Concurrent
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Count 4 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 4</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                INDECENT ASSAULT ON A CHILD
            </h4>
            <p class="govuk-body-s">CCommitted from 03 November 1976 to 02 November 1982</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2003</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">21 February 2018</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">5 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Concurrent
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Count 5 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 5</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                INDECENT ASSAULT ON A CHILD
            </h4>
            <p class="govuk-body-s">Committed from 03 November 1976 to 02 November 1982</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2003</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">Section 236A SOPC CJA03</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">21 February 2018</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">5 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Concurrent
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
</div> 
</div>
</div>
{% endblock %}