
{% extends "../includes/layouts/template.html" %} 

{% set overviewActive = true %}
{% block content %}
<!-- Overview -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- <div class="govuk-notification-banner govuk-notification-banner-alert" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="alert">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    This prisoner is due for immediate release. <a href="">Do an action now.</a>
                </p>
            </div>
        </div>
    </div> -->
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"  >
            Overview
        </h1>
    </div>
</div>


<!-- <div class="highlights">
    <a href="court-cases" class="highlight-card">
        <p class="highlight-card-headline">2</p>
        <p class="highlight-card-text">active court cases</p>
    </a>
    <a href="adjustments" class="highlight-card">
        <p class="highlight-card-headline">1</p>
        <p class="highlight-card-text">day of adjustments</p>
    </a>
    <a href="documents" class="highlight-card">
        <p class="highlight-card-headline">6</p>
        <p class="highlight-card-text">documents</p>
    </a>
</div> -->
<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                {% if data['toDo'] == 'reviewAda' or data['toDo'] == 'reviewPada' or data['toDo'] == 'adjustmentsApplied' or data['toDo'] == 'courtCaseAdded' or data['toDo'] == 'generalChangesApplied' %}
                <h2 class="govuk-heading-m">Things you need to do 
                    <!-- <span id="notifications" class="moj-notification-badge">1</span> -->
                </h2>
               
                {% if data['toDo'] == 'reviewAda' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Review unapplied ADA's</a>
                        <p class="to-do-hint">ADAs have been entered by the adjudications team but have not been applied to the sentence.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>


               
                {% elif data['toDo'] == 'addCourtCase' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Add a court case</a>
                        <p class="to-do-hint">There are no court cases recorded for Neil Rudge.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>


               
                {% elif data['toDo'] == 'generalChangesApplied' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Calculate release dates</a>
                        <p class="to-do-hint">Neil's court case or adjustment information has been updated, you now need to calculate release dates.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>



               
                {% elif data['toDo'] == 'adjustmentsApplied' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Calculate release dates</a>
                        <p class="to-do-hint">Adjustments have been applied, you now need to calculate release dates.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>



               
                {% elif data['toDo'] == 'courtCaseAdded' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Calculate release dates</a>
                        <p class="to-do-hint">New court cases have been added, you now need to calculate release dates.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>
               
                {% elif data['toDo'] == 'reviewPada' %}
                <div class="to-do-item">

                    <div class="to-do-item-text">
                        <a href="" class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-2">Review unapplied PADA's</a>
                        <p class="to-do-hint">PADAs have been entered by the adjudications team but have not been applied to the sentence.</p>
                    </div>

                    <!-- <div class="to-do-item-badge">
                        <strong class="moj-badge moj-badge--red moj-badge--large">
                            Overdue
                        </strong>
                    </div> -->
                </div>

                {% else %}
                    
                {% endif %}

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                {% else %}
                    
                {% endif %}
            


        <h3 class="govuk-heading-m">Upcoming release dates</h3>

        {% if data['toShow'] == 'releaseDatesNone' %}

        <p class="govuk-body">There are no release dates calculated for Neil Rudge.</p>
        <p class="gouk-body"><a href="#">Calculate release dates</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        {% elif data['toShow'] == 'releaseDatesNomis' %}

        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">11 March 2023 at HMP Kirkham
                    <br>
                    <span class="govuk-body">Calculation reason: Transfer check</span>
                </h2>
                <ul class="govuk-summary-card__actions">
                    <div class="">
                        <span class="moj-badge moj-badge--grey">NOMIS</span> 
                    </div>
                 
                </ul>
                <!-- <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-marrgin-top-1">Latest calculation: <a href="#">8 May 2023 at HMP Kirkham</a></p> -->
            </div>
            <div class="govuk-summary-card__content" id="release-dates">
                <dl class="govuk-summary-list release-dates-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            SLED
                            <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Thursday, 19 February 2036</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            CRD
                            <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Sunday, 19 February 2034</p>
                            <p class="govuk-!-font-size-16 govuk-hint">Friday, 17 February 2034 when adjusted to a working day</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            PED
                            <p class="govuk-!-font-size-16 govuk-hint">Parole Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Friday, 21 April 2028</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24 govuk-!-padding-bottom-0">
                            ERSED
                            <p class="govuk-!-font-size-16 govuk-hint">Early Removal Scheme Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Wednesday, 21 April 2027</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-4"><a href="release-dates">View calculations and release dates</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% else %}
       
        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">11 March 2023 at HMP Kirkham
                    <br>
                    <span class="govuk-body">Calculation reason: Transfer check</span>
                </h2>
                <ul class="govuk-summary-card__actions">
                    <div class="">
                        <!-- <span class="moj-badge moj-badge--grey">NOMIS</span>  -->
                    </div>
                 
                </ul>
                <!-- <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-marrgin-top-1">Latest calculation: <a href="#">8 May 2023 at HMP Kirkham</a></p> -->
            </div>
            <div class="govuk-summary-card__content" id="release-dates">
                <dl class="govuk-summary-list release-dates-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            SLED
                            <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Thursday, 19 February 2036</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            CRD
                            <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Sunday, 19 February 2034</p>
                            <p class="govuk-!-font-size-16 govuk-hint">Friday, 17 February 2034 when adjusted to a working day</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            PED
                            <p class="govuk-!-font-size-16 govuk-hint">Parole Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Friday, 21 April 2028</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24 govuk-!-padding-bottom-0">
                            ERSED
                            <p class="govuk-!-font-size-16 govuk-hint">Early Removal Scheme Eligibility Date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Wednesday, 21 April 2027</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-4"><a href="release-dates">View all release dates</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% endif %}



        {% if data['toShow'] == 'adjustmentsNone' %}

        <h3 class="govuk-heading-m">Adjustments</h3>
        <p class="govuk-body">There are no active adjustments for Neil Rudge.</p>
        <p class="gouk-body"><a href="#">Adjustments</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        {% elif data['toShow'] == 'adjustmentsV2' %}

        <h3 class="govuk-heading-m">Adjustments</h3>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__content" id="adjustments">
                <dl class="govuk-summary-list ">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key ">
                            Remand
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">99 days</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key ">
                            Tagged bail
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">4 days</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-4"><a href="adjustments">View all adjustments</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% else %}

        <h3 class="govuk-heading-m">Adjustments</h3>
        <dl class="govuk-summary-list" style="margin-bottom: 10px;">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Remand
                </dt>
                <dd class="govuk-summary-list__value">
                    99 Days
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Tagged bail
                </dt>
                <dd class="govuk-summary-list__value">
                    4 Days
                </dd>
            </div>
        </dl>

        <p class="govuk-body govuk-!-margin-top-6"><a href="index-1">View all adjustments</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% endif %}

      

        
            {% if data['toShow'] == 'courtHearingNone' %}
            
            <h3 class="govuk-heading-m">Next court hearing</h3>
            <p class="govuk-body">No upcoming court hearings.</p>
            <p class="govuk-body"><a href="court-cases">View all court cases</a></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
            {% else %}

        <h3 class="govuk-heading-m">Next court hearing</h3>
        <dl class="govuk-summary-list" style="margin-bottom: 10px;">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case reference
                </dt>
                <dd class="govuk-summary-list__value">
                    T20230101
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    Aldershot and Farnham County Court
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hearing type
                </dt>
                <dd class="govuk-summary-list__value">
                    Court appearance
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date
                </dt>
                <dd class="govuk-summary-list__value">
                    5/1/2024 at 13:00
                </dd>
            </div>
        </dl>
        <p class="govuk-body"><a href="court-cases">View all court cases</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% endif %}
 

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- <h2 class="govuk-heading-m">Recent activity</h2>
        <div class="moj-timeline">
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Calculation</h2>
                    <p class="moj-timeline__byline">by HMP Leeds</p>
                </div>
                <p class="moj-timeline__date">
                    <time datetime="2019-06-14T14:01:00.000Z">5 July 2022 at 2:01pm</time>
                </p>
                <div class="moj-timeline__description">
                    <p>Calculation reason: Initial calculation</p>
                    <a href="calculations/calculation-05-08-2022/sentence-and-offence-information">View calculation</a>
                </div>
            </div>
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">1 adjustment added</h2>
                    <p class="moj-timeline__byline">by HMP Leeds</p>
                </div>
                <p class="moj-timeline__date">
                    <time datetime="2019-06-07T12:32:00.000Z">5 July 2022 at 12:32pm</time>
                </p>
                <div class="moj-timeline__description">
                    <ul class="govuk-list">
                        <li>251 days remand</li>
                    </ul>
                </div>
            </div>
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">1 draft court case added</h2>
                    <p class="moj-timeline__byline">by HMP Leeds</p>
                </div>
                <p class="moj-timeline__date">
                    <time datetime="2019-06-06T09:12:00.000Z">5 July 2022 at 11:04am</time>
                </p>
                <div class="moj-timeline__description">
                    <ul class="govuk-list">
                        <li><a href="court-cases/court-case-T20220103">Court case T20220103 (draft)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-6"><a href="timeline">View all activity</a></p> -->
    </div>
</div>
<script>
function toggleAlert() {
    var x = document.getElementById("alert");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}