.actions-list {
  border: 1px solid #b1b4b6;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0px !important;
}

.actions-list-header {
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: #f3f2f1;
}

.actions-list-list {
  border-bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
}

.actions-list-list li {
  padding: 15px 0px 15px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #b1b4b6;
  margin: 0 20px;
  display: block;
  font-weight: bold;
}

.actions-list-list li a:visited {
  color: #1d70b8 !important;
}

.actions-list-list li:hover {
  cursor: pointer;
  text-decoration-thickness: max(3px, .1875rem, .12em);
  text-decoration: underlinie;
  text-decoration-skip: none;
}

.actions-list-list li:hover a {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  text-decoration: underlinie;
  text-decoration-skip: none;
}

.actions-list-list li:last-of-type {
  border-bottom: none;
  width: 100%;
}