
.notification-slip {
  margin-bottom: 30px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: dashed;
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-top-color: rgb(177, 180, 182);
  border-right-color: rgb(177, 180, 182);
  border-bottom-color: rgb(177, 180, 182);
  border-left-color: rgb(177, 180, 182);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  break-inside: avoid;
} 
.notification-slip__summary {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.notification-slip__summary__row {
  display: table-row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(177, 180, 182);
}
.notification-slip__summary__row__key {
  display: table-cell;
  width: 30%;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.notification-slip__summary__row__value {
  display: table-cell;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.alerts-list > li, .govuk-list > li {
  margin-bottom: 5px;
}
.preserve-line-breaks {
  white-space: pre-line;
}

.notification-slip .notification-slip-footer {
  text-align: right;
  color: rgb(80, 90, 95);
  margin-bottom: 0px;
}

.notification-slip-list-body { 
  font-size: 24px;
  font-size: 1.125rem;
  line-height: 1.1111111111; 
}