{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../index-3" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Remand overview</h1>
                    <div class="govuk-inset-text">
                      <h3>The below remand has been entered manually</h3>
                     <p> The remand tool was rejected on <b> 4 February 2024</b>. The reason given was <b>incorrect total remands days</b>.<br>
                      You can <a href="check-remand-details-2.html">check the remand tool</a>. 
                      This will not clear the below manual entries unless you choose to accept the remand tool.</p>
                    </div>

                    <table class="govuk-table">
                      <caption class="govuk-table__caption govuk-table__caption--m">Remand that has been applied</caption>
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">From</th> 
                          <th scope="col" class="govuk-table__header">To</th>
                          <th scope="col" class="govuk-table__header" style="width:15%">Days</th>
                          <th scope="col" class="govuk-table__header">Offence details</th>
                          <th scope="col" class="govuk-table__header">Committed on</th>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">9 January 2024</td>
                          <td  class="govuk-table__cell">7 February 2024</td>
                          <td class="govuk-table__cell">30</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">17 April 2024</td>
                          <td  class="govuk-table__cell">26 April 2024</td>
                          <td class="govuk-table__cell">10</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">22 May 2024</td>
                          <td  class="govuk-table__cell">7 September 2024</td>
                          <td class="govuk-table__cell">109</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell"><b>Total days</b></td>
                          <td  class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"><b>149 days</b></td>
                          <td class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"> </td>
                      </tr>
                      </tbody>
                  </table>
                  </div>
                </div>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                              From 9 January 2024 to 7 February 2024
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="../remand/enter-remand">
                                    Edit<span class="govuk-visually-hidden"> remand from January 2024 to 7 February 2024</span>
                                  </a>
                              </li>
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="#">
                                    Delete<span class="govuk-visually-hidden"> remand from January 2024 to 7 February 2024</span>
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Offence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>	Actual Bodily Harm (Section 47)</b>
                                  <br>
                                  Committed on 29 October 2023
                                  <br>
                                  Heard at Snaresbrook Crown Court
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                             
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>30</b>
                                </dd>
                               
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date applied
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Manually applied on 4 February 2025
                                </dd>
                                
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  HMP Kirkham
                                </dd>
                                
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                              <h2 class="govuk-summary-card__title">
                                From 17 April 2024 to 26 April 2024
                              </h2>
                              <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="../remand/enter-remand">
                                      Edit<span class="govuk-visually-hidden"> remand from 17 April 2024 to 26 April 2024</span>
                                    </a>
                                </li>
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="#">
                                      Delete<span class="govuk-visually-hidden"> remand from J17 April 2024 to 26 April 2024</span>
                                    </a>
                                </li>
                            </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Offence
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>	Actual Bodily Harm (Section 47)</b>
                                    <br>
                                    Committed on 29 October 2023
                                    <br>
                                    Heard at Snaresbrook Crown Court
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Days
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>10</b>
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                              
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date applied
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Manually applied on 4 February 2025
                                </dd>
                                
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  HMP Kirkham
                                </dd>
                                
                              </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-summary-card">
                              <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                  From 22 May 2024 to 7 September 2024
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                  <li class="govuk-summary-card__action">
                                      <a class="govuk-link" href="../remand/enter-remand">
                                        Edit<span class="govuk-visually-hidden"> remand from 22 May 2024 to 7 September 2024</span>
                                      </a>
                                  </li>
                                  <li class="govuk-summary-card__action">
                                      <a class="govuk-link" href="#">
                                        Delete<span class="govuk-visually-hidden"> remand from 22 May 2024 to 7 September 2024</span>
                                      </a>
                                  </li>
                              </ul>
                              </div>
                              <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Offence
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>	Actual Bodily Harm (Section 47)</b>
                                      <br>
                                      Committed on 29 October 2023
                                      <br>
                                      Heard at Snaresbrook Crown Court
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                  
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Days
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>109</b>
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                     Date applied
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Manually applied on 4 February 2025
                                    </dd>
                                    
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                     Establishment
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      HMP Kirkham
                                    </dd>
                                    
                                  </div>
                                </dl>
                              </div>
                            </div>
<!-- 
                        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Add new
                        </a> -->
   
 
                        <div class="govuk-button-group">
                           
                          <a href="check-remand-details-2.html" class="govuk-button govuk-button" data-module="govuk-button">
                            Check remand tool
                        </a>
                        </div>
                        
                      

                </div>
            </div>
        </main>
    </div>
</div> 
{% endblock %}