{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}
<div class="govuk-width-container">
 
    <a href="confirm-replaced-offences-2" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-padding-top-6">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>Check remand details for Justin Bell</h1>


                <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">
                    <h2 class="govuk-heading-m">
                        Some remand might be incorrectly marked as non-relevant 
                    </h2>

                    <p class="govuk-body">This service has flagged that at least one offence has not resulted in a sentence being imposed.</p>
                    <p class="govuk-body">In some cases, this can happen because the offence was replaced (for example, reduced to a lesser offence).</p>
                    <p class="govuk-body">If the offence was replaced, and a sentence was imposed for that replaced offence, the remand may be considered relevant.</p>
                    <p class="govuk-body">Before you can confirm the remand to be applied, you need to <a href="confirm-replaced-offences-1">check if any offences without a sentence have been replaced</a>.</p> 
            
                </div>

                <p class="govuk-!-margin-bottom-4">Based on the court case information in NOMIS, this service has calculated the below remand to be applied. The rules for applying remand time can be found in the <a href="https://assets.publishing.service.gov.uk/media/661fd299ced96304c8757e86/sentence-calculation-pf-annex-a-operational-guidance.pdf" target="external">policy framework</a>.</p>
 
        </div>
    </div>

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Remand to be applied</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">From</th> 
                            <th scope="col" class="govuk-table__header">To</th>
                            <th scope="col" class="govuk-table__header" style="width:15%">Days</th>
                            <th scope="col" class="govuk-table__header">Offence details</th>
                            <th scope="col" class="govuk-table__header">Committed on</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">9 January 2024</td>
                            <td  class="govuk-table__cell">8 February 2024</td>
                            <td class="govuk-table__cell">31</td>
                            <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                            <td class="govuk-table__cell">29 October 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">17 April 2024</td>
                            <td  class="govuk-table__cell">29 April 2024</td>
                            <td class="govuk-table__cell">13</td>
                            <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                            <td class="govuk-table__cell">29 October 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">23 May 2024</td>
                            <td  class="govuk-table__cell">7 September 2024</td>
                            <td class="govuk-table__cell">108</td>
                            <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                            <td class="govuk-table__cell">29 October 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell"><b>Total days</b></td>
                            <td  class="govuk-table__cell"> </td>
                            <td class="govuk-table__cell"><b>152 days</b></td>
                            <td class="govuk-table__cell"> </td>
                            <td class="govuk-table__cell"> </td>
                        </tr>
                        </tbody>
                    </table>

            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Relevant remand</h2>
   
            <div class="offence-card sentence-card " style="border-left: 4px solid 	#00703c !important">
                <div class="offence-card-offence-details"> 
                    <!-- <span class="govuk-body">Count 1</span>  -->
                    <h4 class="govuk-heading-s">
                        Grievous Bodily Harm (Section 20)
                        <br>
                       
                        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                            Applicable
                          </strong>
                    </h4>  
                    <p>Replaced with Actual Bodily Harm (Section 47) committed on 29th October 2023.</p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border" data-qa="offenceSummaryList"> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Committed on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                29 October 2023
                            </dd>
            
                        </div> 


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Snaresbrook Crown Court
                            </dd>
            
                        </div> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                T20221234
                            </dd>
            
                        </div> 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Remanded in custody bail refused
                            </dd>
            
                        </div>
             
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Stop outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Replaced with another offence on 7 August 2024
                            </dd>
            
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Offence outcome 
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Replaced with another offence
                            </dd>
            
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Remand
                            </dt>
                            <dd class="govuk-summary-list__value">
                                130 days
                            </dd>
            
                        </div> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Period
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 January 2024 to 7 August 2024
                            </dd>
            
                        </div>
             
                    </dl>
            
                </div>  
            
            </div> 
 

            <div class="offence-card sentence-card " style="border-left: 4px solid 	#00703c !important">
                <div class="offence-card-offence-details"> 
                    <!-- <span class="govuk-body">Count 1</span>  -->
                    <h4 class="govuk-heading-s">
                        Actual Bodily Harm (Section 47)
                        <br>
                        
                        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                            Applicable
                          </strong>
                    </h4>  
                    <dl class="govuk-summary-list govuk-summary-list--no-border" data-qa="offenceSummaryList"> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Committed on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                29 October 2023
                            </dd>
            
                        </div> 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                               Snaresbrook Crown Court
                            </dd>
            
                        </div> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                T20225678
                            </dd>
            
                        </div> 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Commit/Transfer/Send to crown court for trial in custody on 7 August 2024
                            </dd>
            
                        </div>
             
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Stop outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment 8 September 2024
                            </dd>
            
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Offence outcome 
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment 
                            </dd>
            
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Remand
                            </dt>
                            <dd class="govuk-summary-list__value">
                                22 days
                            </dd>
            
                        </div> 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Period
                            </dt>
                            <dd class="govuk-summary-list__value">
                                7 August 2021 to 7 September 2021
                            </dd>
            
                        </div>
             
                    </dl>
            
                </div>  
            
            </div>
 
            <details class="govuk-details govuk-!-margin-bottom-6">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text govuk-!-font-size-24">
                    View non-relevant remand
                  </span>
                </summary>
                <div class="govuk-details__text">
                  
                <div class="offence-card sentence-card  govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="border-left: 4px solid 	#d4351c !important">
                    <div class="offence-card-offence-details"> 
                        <h4 class="govuk-heading-s">
                            Common assault
                            <br>
                            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-2" style="max-width: 200px;">
                                Not sentenced
                              </strong>
                        </h4>  
                        <dl class="govuk-summary-list govuk-summary-list--no-border" data-qa="offenceSummaryList"> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Committed on
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    23 July 2023
                                </dd>
                
                            </div> 

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    York  MC
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Case number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    T20225673
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Start outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Remanded in custody bail refused 
                                </dd>
                
                            </div>
                 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Stop outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Not guilty on 4 August 2021
                                </dd>
                
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Offence outcome 
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Not guilty
                                </dd>
                
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Remand
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    12 days
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Period
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    24 July 2021 to 4 August 2021
                                </dd>
                
                            </div>
                 
                        </dl>
                
                    </div>  
                
                </div>
            </div>
              </details>
            </div>
        </div>
 

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full ">
            <h2 class="govuk-heading-m">Previous sentences that may overlap remand periods</h2>
            <p class="govuk-!-margin-bottom-4">These sentences could overlap with the relevant remand periods above.</p>
 
            <table class="govuk-table govuk-!-margin-bottom-8">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Remand to be applied</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Sentenced</th> 
                    <th scope="col" class="govuk-table__header">Released</th> 
                    <th scope="col" class="govuk-table__header">Offence details</th>
                    <th scope="col" class="govuk-table__header">Committed on</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td  class="govuk-table__cell">9 February 2024</td>
                    <td  class="govuk-table__cell">16 April 2024</td> 
                    <td class="govuk-table__cell">Assaults on Emergency Worker Act 2018</td>
                    <td class="govuk-table__cell">29 October 2023</td>
                </tr> 
                <tr class="govuk-table__row">
                    <td  class="govuk-table__cell">30 April 2024</td>
                    <td  class="govuk-table__cell">22 May 2024</td> 
                    <td class="govuk-table__cell">Possession of a Class A drug</td>
                    <td class="govuk-table__cell">29 October 2023</td>
                </tr> 
                </tbody>
            </table>
              
<!--  
            <div class="govuk-form-group govuk-!-margin-bottom-6 ">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Confirm that the remand to be applied is correct

                    </h1>
                  </legend>
                  <div id="contact-hint" class="govuk-hint">
                    By selecting yes, the remand will be saved and applied when you calculate a release date. Select no to enter remand periods manually.
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="Yes, the remand to be applied is correct" aria-describedby="conditional-contact">
                      <label class="govuk-label govuk-radios__label" for="contact">
                        Yes, the remand to be applied is correct
                      </label> 
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="No, the remand to be applied is incorrect" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-radios__label" for="contact-2">
                            No, the remand to be applied is incorrect

                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-phone">
                            
                            Enter the reason that the remand is incorrect.
                          </label>
                          <textarea class="govuk-textarea" id="contact-by-phone"  rows="3" name="contact" type="tel" autocomplete="tel"></textarea>
                        </div>
                      </div>
                  </div>
                </fieldset>
              </div> -->

            <div class="govuk-button-group">
                <!-- <a href="view-remand" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </a> -->

                <a href="confirm-replaced-offences-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Check if any offences have been replaced
                </a>
                <a href="cancel" class="govuk-link" data-module="govuk-button">
                    Cancel
                </a>
            </div>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
<script type="module" src="/public/javascripts/gov-uk-latest.js"></script>
{% endblock %}