{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}

    <a href="#" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-padding-top-6">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>Check remand details for Justin Bell</h1>

                <p class="govuk-!-margin-bottom-8">Based on the court case information in NOMIS, the following remand has been counted as relevant remand.

                    The rules for applying remand time can be found in <a href="#">the policy framework</a>.</p>
<!--hide this until we know what we are doing-->
<!--            <div class="govuk-inset-text">-->
<!--                Farmer create agricultural charge remove property subject to charge from holding.-->
<!--            </div>-->

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Remand identified</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Dates</th>

                            <th scope="col" class="govuk-table__header">Days</th>
                            <th scope="col" class="govuk-table__header">Offence</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">1 Feb 2018 to 17 Feb 2018</td>

                            <td class="govuk-table__cell">11</td>
                            <td class="govuk-table__cell">Attempted burglary<br><span class="govuk-hint">committed on 1 Feb 2018</span></td>
                        </tr>
                        </tbody>
                    </table>

            <h2 class="govuk-heading-m">Relevant remand</h2>
            <div class="govuk-summary-card remand r-remand">
                <div class="govuk-summary-card__title-wrapper ">

                    <h2 class="govuk-summary-card__title">
                        Possess with intent to supply a controlled drug of Class A - Heroin

                        <span class="govuk-caption-m">Date of offence: 12 Jan 2022 to 20 Jan 2022</span>
                        <span class="govuk-tag govuk-tag--green govuk-!-padding-1">Relevant</span>
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">Make non relevant<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Bristol Magistrates Court<br>
                                <span class="govuk-hint">Case reference: T00003333</span>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Remand dates
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <ul class="govuk-list">
                                    <li>Remand start - 12 Feb 2022  <span class="govuk-hint">Remand in Custody (Bail Refused)</span></li>
                                    <li>Remand end - 30 March 2022  <span class="govuk-hint">Imprisonment</span></li>
                                </ul>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Sentencing
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Offence outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Remand in custody Remand in custody
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Days
                            </dt>
                            <dd class="govuk-summary-list__value">
                                124
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card remand r-remand">
                <div class="govuk-summary-card__title-wrapper ">
                    <h2 class="govuk-summary-card__title">Abstract water without a licence <span class="moj-badge moj-badge--grey">Recall</span>
                        <span class="govuk-caption-m">Date of offence: 10 Jan 2022</span>
                        <span class="govuk-tag govuk-tag--green">Relevant</span>
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">Make non relevant<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Bristol Magistrates Court<br>
                                <span class="govuk-hint">Case reference: T00003333</span>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Remand dates
                            </dt>
                            <dd class="govuk-summary-list__value">
                                01 Feb 2023 to 20 Mar 2023
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Days
                            </dt>
                            <dd class="govuk-summary-list__value">
                                48
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Remand in Custody (Bail Refused) on 01 Feb 2023
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Stop outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment on 21 Mar 2023
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Offence outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                               Imprisonnment
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
            <h2 class="govuk-heading-m">Non relevant remand</h2>
            <div class="govuk-summary-card remand nr-remand">
                <div class="govuk-summary-card__title-wrapper ">
                    <h2 class="govuk-summary-card__title">Abstract water without a licence
                        <span class="govuk-caption-m">Date of offence: 10 Jan 2022</span>
                        <span class="govuk-tag govuk-tag--red">Non relevant</span>
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">Make relevant<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Bristol Magistrates Court<br>
                                <span class="govuk-hint">Case reference: T00003333</span>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Remand dates
                            </dt>
                            <dd class="govuk-summary-list__value">
                                01 Feb 2023 to 20 Mar 2023
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Days
                            </dt>
                            <dd class="govuk-summary-list__value">
                                48
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Start outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Remand in Custody (Bail Refused) on 01 Feb 2023
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Stop outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment on 21 Mar 2023
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Offence outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonnment
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>



<!--            <table  id="" class="govuk-table govuk-!-margin-bottom-8">-->
<!--                <thead class="govuk-table__head">-->
<!--                <tr class="govuk-table__row">-->
<!--                    <th class="govuk-table__header" scope="col">Case number</th>-->
<!--                    <th class="govuk-table__header" scope="col">Offence details</th>-->
<!--                    <th class="govuk-table__header" scope="col">days</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <td class="govuk-table__cell">-->
<!--                       T20187071<span class="moj-badge&#45;&#45;purple moj-badge">Applicable</span>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <table class="govuk-table">-->


<!--                            <tbody class="govuk-table__body">-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                <td class="govuk-table__cell">Birmingham</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                <td class="govuk-table__cell">Imprisonment</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">69</td>-->
<!--                </tr>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <td class="govuk-table__cell">-->
<!--                        T20187071<span class="moj-badge&#45;&#45;purple moj-badge">Applicable</span>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <table class="govuk-table">-->
<!--                            <tbody class="govuk-table__body">-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                <td class="govuk-table__cell">Birmingham</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                <td class="govuk-table__cell">Imprisonment</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">69</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--            <table class="govuk-table govuk-!-margin-bottom-8">-->
<!--                    <thead class="govuk-table__head">-->
<!--                    <tr class="govuk-table__row">-->
<!--                        <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>-->
<!--                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>-->
<!--                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody class="govuk-table__body">-->
<!--                    <tr class="govuk-table__row">-->
<!--                        &lt;!&ndash; Dates &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-width-two-thirds">-->
<!--                            <table class="govuk-table">-->
<!--                                <tbody class="govuk-table__body">-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                    <td class="govuk-table__cell">Birmingham</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                    <td class="govuk-table__cell">Imprisonment</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                    <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                    <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                    <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </td>-->
<!--                        &lt;!&ndash; Days &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre"><span class="moj-badge moj-badge&#45;&#45;green">good</span> </td>-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre">5 </td>-->
<!--                    </tr>-->
<!--                    <tr class="govuk-table__row">-->
<!--                        &lt;!&ndash; Dates &ndash;&gt;-->
<!--                        <td class="govuk-table__cell">-->
<!--                            <span class="govuk-!-padding-top-3"><b>Court case number: T1000000</b></span><br>-->
<!--                            <span>Court : Wolverhampton crown court</span><br>-->
<!--                            <span>Case outcome : Sentencing</span><br>-->
<!--                            <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>-->
<!--                            <ul class="govuk-list">-->
<!--                                <li>Attempted burglary  <br> <span class="govuk-hint">committed on 1 Feb 2018</span></li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                        &lt;!&ndash; Days &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre"></br>6</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

<!--            <h2 class="govuk-heading-m">Other remand</h2>-->
<!--            <table class="govuk-table govuk-!-margin-bottom-8">-->
<!--                <thead class="govuk-table__head">-->
<!--                <tr class="govuk-table__row">-->
<!--                    <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>-->
<!--                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody class="govuk-table__body">-->
<!--                <tr class="govuk-table__row">-->
<!--                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <span class="govuk-!-padding-top-3"><b>Court case number: T1000300</b></span><br>-->
<!--                        <span>Court : Wolverhampton crown court</span><br>-->
<!--                        <span>Case outcome : Sentencing</span><br>-->
<!--                        <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>Assualt by beating  <br> <span class="govuk-hint">committed on 1 Feb 2018</span></li>-->
<!--                        </ul>-->

<!--                    </td>-->
<!--                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                    <td class="govuk-table__cell govuk-!-text-align-centre"><br>6-->
<!--&lt;!&ndash;                        <br><span class="moj-badge moj-badge&#45;&#45;bright-purple">not counted</span>&ndash;&gt;-->
<!--                    </td>-->

<!--                </tr>-->

<!--                </tbody>-->
<!--            </table>-->


            <div class="govuk-button-group">
                <a href="hub-9-a.html" class="govuk-button" data-module="govuk-button">
                    Accept and save
                </a>
                <a href="hub-9.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>
            </div>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}