{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="check-remand-details-2" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Remand overview</h1>
                    

                    <table class="govuk-table">
                      <caption class="govuk-table__caption govuk-table__caption--m">Remand that has been applied</caption>
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">From</th> 
                          <th scope="col" class="govuk-table__header">To</th>
                          <th scope="col" class="govuk-table__header" style="width:15%">Days</th>
                          <th scope="col" class="govuk-table__header">Offence details</th>
                          <th scope="col" class="govuk-table__header">Committed on</th>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">9 January 2024</td>
                          <td  class="govuk-table__cell">8 February 2024</td>
                          <td class="govuk-table__cell">31</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">17 April 2024</td>
                          <td  class="govuk-table__cell">29 April 2024</td>
                          <td class="govuk-table__cell">13</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">23 May 2024</td>
                          <td  class="govuk-table__cell">7 September 2024</td>
                          <td class="govuk-table__cell">108</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29 October 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell"><b>Total days</b></td>
                          <td  class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"><b>152 days</b></td>
                          <td class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"> </td>
                      </tr>
                      </tbody>
                  </table>
                  </div>
                </div>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                              From 9 January 2024 to 8 February 2024
                            </h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Offence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>	Actual Bodily Harm (Section 47)</b>
                                  <br>
                                  Committed on 29 October 2023
                                  <br>
                                  Heard at Snaresbrook Crown Court
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                              <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Replaced by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>Manslaughter</b>
                                  <br>
                                  Committed on 11 January 2023
                                  <br>
                                  Heard at Preston Crown Court
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd>
                              </div> -->
                            <!--   <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  HMP Kirkham
                                </dd>
                                 <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                                </dd> 
                              </div>-->
                               <!--  <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Date added
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Approved on 4 February 2025
                                </dd>
                              <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd> 
                              </div>-->
                              <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Reason for rejection
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Incorrect
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd>
                              </div> -->
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>31</b>
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                              <h2 class="govuk-summary-card__title">
                                From 17 April 2024 to 29 April 2024
                              </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Offence
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>	Actual Bodily Harm (Section 47)</b>
                                    <br>
                                    Committed on 29 October 2023
                                    <br>
                                    Heard at Snaresbrook Crown Court
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                                <!-- <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Replaced by
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>Manslaughter</b>
                                    <br>
                                    Committed on 11 January 2023
                                    <br>
                                    Heard at Preston Crown Court
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                  </dd>
                                </div> 
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Establishment
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    HMP Kirkham
                                  </dd>
                                   <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                                  </dd> 
                                </div>-->
                              <!--  <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Date added
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Approved on 4 February 2025
                                  </dd>
                                   <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                  </dd> 
                                </div>-->
                                <!-- <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Reason for rejection
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Incorrect
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                  </dd>
                                </div> -->
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Days
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>13</b>
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-summary-card">
                              <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                  From 23 May 2024 to 7 September 2024
                                </h2>
                              </div>
                              <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Offence
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>	Actual Bodily Harm (Section 47)</b>
                                      <br>
                                      Committed on 29 October 2023
                                      <br>
                                      Heard at Snaresbrook Crown Court
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                  <!-- <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Replaced by
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>Manslaughter</b>
                                      <br>
                                      Committed on 11 January 2023
                                      <br>
                                      Heard at Preston Crown Court
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                    </dd>
                                  </div> 
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Establishment
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      HMP Kirkham
                                    </dd>
                                     <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                                    </dd>
                                  </div>-->
                                 <!--  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Date added
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Approved on 4 February 2025
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                    </dd> 
                                  </div>-->
                                  <!-- <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Reason for rejection
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Incorrect
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                    </dd>
                                  </div> -->
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Days
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>108</b>
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                </dl>
                              </div>
                            </div>
<!-- 
                        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Add new
                        </a> -->
   
 
                        <div class="govuk-button-group">
                            <a href="check-your-answers.html" class="govuk-button" data-module="govuk-button">
                                Continue
                            </a>
                           
                          <a href="check-remand-details-2.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Check remand tool
                        </a>
                        </div>
                        
                       <!-- <div class="govuk-button-group">
                          <a href="../index-1?toShow=remandAdded" class="govuk-button" data-module="govuk-button">
                              Continue
                          </a>
                         
                        <a href="check-remand-details-2.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Check remand tool
                      </a>
                      </div>-->

                </div>
            </div>
        </main>
    </div>
</div> 
{% endblock %}