{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}
<div class="govuk-width-container">
 
    <a href="confirm-replaced-offences-2" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-padding-top-6">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>Check remand details for Justin Bell</h1>

                <p class="govuk-!-margin-bottom-4">Based on the court case information in NOMIS, this service has calculated the below remand to be applied. The rules for applying remand time can be found in the policy framework.</p>
 

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Remand to be applied</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">From</th> 
                            <th scope="col" class="govuk-table__header">To</th>
                            <th scope="col" class="govuk-table__header" style="width:15%">Days</th>
                            <th scope="col" class="govuk-table__header">Offence details</th>
                            <th scope="col" class="govuk-table__header">Committed on</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">1 February 2023</td>
                            <td  class="govuk-table__cell">22 March 2023</td>
                            <td class="govuk-table__cell">48</td>
                            <td class="govuk-table__cell">Abstract water without a licence</td>
                            <td class="govuk-table__cell">11 January 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell">23 November 2023</td>
                            <td  class="govuk-table__cell">16 December 2023</td>
                            <td class="govuk-table__cell">24</td>
                            <td class="govuk-table__cell">Accidentally allow a chimney to be on fire</td>
                            <td class="govuk-table__cell">1 February 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td  class="govuk-table__cell"><b>Total days</b></td>
                            <td  class="govuk-table__cell"> </td>
                            <td class="govuk-table__cell"><b>72 days</b></td>
                            <td class="govuk-table__cell"> </td>
                            <td class="govuk-table__cell"> </td>
                        </tr>
                        </tbody>
                    </table>

            <h2 class="govuk-heading-l">Relevant remand</h2>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Accidentally allow a chimney to be on fire
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                      
                  <div class="offence-card sentence-card  govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                      <div class="offence-card-offence-details"> 
                          <!-- <span class="govuk-body">Count 1</span>  -->
                          
                              <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                                  Applicable
                                </strong>
                   
                          <dl class="govuk-summary-list govuk-summary-list--no-border" data-qa="offenceSummaryList"> 
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Committed on
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      23 November 2023
                                  </dd>
                  
                              </div> 
  
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Offence outcome 
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      Imprisonment
                                  </dd>
                  
                              </div>
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Court name
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      Birmingham crown court
                                  </dd>
                  
                              </div> 
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Case number
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      ABC123
                                  </dd>
                  
                              </div> 
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Start outcome
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      Commit to crown court for trial (Summary / Either Way Sentences) on 23 November 2023
                                  </dd>
                  
                              </div>
                   
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Stop outcome
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      Remand on Conditional Bail on 16 December 2023
                                  </dd>
                  
                              </div>
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Remand
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      24 days
                                  </dd>
                  
                              </div> 
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      Period
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      23 November 2023 to 16 December 2023
                                  </dd>
                  
                              </div>
                   
                          </dl>
                  
                      </div>  
                  
                  </div>
  
                    </div>
                  </div>
            </div>



            <h2 class="govuk-heading-l">Non-relevant remand</h2>

            <div class="govuk-accordion  govuk-!-margin-bottom-8" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Accidentally allow a chimney to be on fire
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                    
                <div class="offence-card sentence-card  govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                    <div class="offence-card-offence-details"> 
                        <!-- <span class="govuk-body">Count 1</span>  -->
                        
                            
                        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2" style="max-width: 200px;">
                            Case not concluded
                          </strong>
                 
                        <dl class="govuk-summary-list govuk-summary-list--no-border" data-qa="offenceSummaryList"> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Committed on
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    23 November 2023
                                </dd>
                
                            </div> 

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Offence outcome 
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Imprisonment
                                </dd>
                
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Birmingham crown court
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Case number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    ABC123
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Start outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Commit to crown court for trial (Summary / Either Way Sentences) on 23 November 2023
                                </dd>
                
                            </div>
                 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Stop outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Remand on Conditional Bail on 16 December 2023
                                </dd>
                
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Remand
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    24 days
                                </dd>
                
                            </div> 
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Period
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    23 November 2023 to 16 December 2023
                                </dd>
                
                            </div>
                 
                        </dl>
                
                    </div>  
                
                </div>

                  </div>
                </div>
            </div>


            <h2 class="govuk-heading-m">Previous sentences that may overlap remand periods</h2>
            <p class="govuk-!-margin-bottom-4">These sentences could overlap with the relevant remand periods above.</p>
 
            <table class="govuk-table govuk-!-margin-bottom-8">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Remand to be applied</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Sentenced</th> 
                    <th scope="col" class="govuk-table__header">Released</th> 
                    <th scope="col" class="govuk-table__header">Offence details</th>
                    <th scope="col" class="govuk-table__header">Committed on</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td  class="govuk-table__cell">21 March 2023</td>
                    <td  class="govuk-table__cell">2 April 2023</td> 
                    <td class="govuk-table__cell">Abstract water without a licence</td>
                    <td class="govuk-table__cell">11 January 2022</td>
                </tr> 
                </tbody>
            </table>
              
 
            <div class="govuk-form-group govuk-!-margin-bottom-6 ">
                <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Confirm that the remand to be applied is correct

                    </h1>
                  </legend>
                  <div id="signIn-hint" class="govuk-hint">
                    By selecting yes, the remand will be saved and applied when you calculate a release date. Select no to enter remand periods manually.
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                      <label class="govuk-label govuk-radios__label" for="signIn">
                        Yes, the remand to be applied is correct
                      </label> 
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-radios__label" for="contact-2">
                            No, the remand to be applied is incorrect

                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-phone">
                            
                            Enter the reason that the remand is incorrect.
                          </label>
                          <textarea class="govuk-textarea" id="contact-by-phone"  rows="3" name="contactByPhone" type="tel" autocomplete="tel"></textarea>
                        </div>
                      </div>
                  </div>
                </fieldset>
              </div>


            <div class="govuk-button-group">
                <a href="view-remand" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </a>
                <a href="cancel" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>
            </div>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
<script type="module" src="/public/javascripts/gov-uk-latest.js"></script>
{% endblock %}