{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
    <a href="../../release-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 
            <h1 class="govuk-heading-xl">
            <!-- <span class="govuk-caption-xl">11 March 2023 at HMP Kirkham</span> -->
                Sentence and offence information
            </h1> 
        </div>
    </div>
</div>
 

<div class="moj-width-container"> 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">
                    Calculation details
            </h2> 
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date
                </dt>
                <dd class="govuk-summary-list__value">
                    11 March 2023
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reason
                </dt>
                <dd class="govuk-summary-list__value">
                    Transfer check
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Establishment
                </dt>
                <dd class="govuk-summary-list__value">
                    HMP Kirkham
                </dd>
                </div> 
            </dl> 
        </div>
    </div>
</div>

<nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="check-sentence-and-offence-information">Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="calculation-summary">Calculation summary</a>
        </li>
    </ul>
    
</nav>


<!-- Court case 1 -->
<div class="moj-width-container govuk-!-margin-top-4">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T20230101
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Bristol Magistrates Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Count 1 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Burglary other than dwelling - theft
            </h4>
            <p class="govuk-body-s">Committed on 1 January 2023</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2020</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">ORA Sentencing Code Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">10 March 2023</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">0 years 0 months 0 weeks 100 days
                        </td>
                    </tr>
                    <!-- <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr> -->
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Concurrent
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    


<!-- Court case 2 -->
<div class="moj-width-container govuk-!-margin-top-4">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 2</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T20223256
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Bristol Magistrates Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Count 1 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Attempt to possess a controlled drug of Class C - GHB.
            </h4>
            <p class="govuk-body-s">Committed on 30 October 2022</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2020</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell"> ORA Sentencing Code Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">10 March 2023</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">0 years 0 months 0 weeks 60 days
                        </td>
                    </tr>
                    <!-- <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Licence period</th>
                        <td class="govuk-table__cell">1 year 0 months 0 weeks 0 days
                        </td>
                    </tr> -->
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                        <td class="govuk-table__cell">Consecutive to court case 1 count 1
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Adjustments -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
             

                <div class="govuk-tabs govuk-!-margin-top-8" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#detailed" data-qa="detailed-tab-link" id="tab_detailed" role="tab" aria-controls="detailed" aria-selected="true" tabindex="0">
                                Detailed
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#summary" data-qa="summary-tab-link" id="tab_summary" role="tab" aria-controls="summary" aria-selected="false" tabindex="-1">
                                Summary
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="summary" aria-labelledby="tab_summary" tabindex="0" role="tabpanel">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Deductions</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Adjustment</th>
                    <th class="govuk-table__header" scope="col">Days</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Recall remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        29
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Recall tagged bail</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Tagged bail</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Unused remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                        
                    </td>
                </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8 ">Additions</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Adjustment</th>
                    <th class="govuk-table__header" scope="col">Days</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                        
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                        
                    </td>
                </tr>
                </tbody>
            </table>
                    </div>
                    <div class="govuk-tabs__panel" id="detailed" role="tabpanel" aria-labelledby="tab_detailed">
            
                
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Deductions</h3>
                    
                    
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Remand</h4>
                        <table class="govuk-table govuk-!-margin-bottom-8">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Dates</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                
                                    <tr class="govuk-table__row">
                                        <!-- Dates -->
                                        <td class="govuk-table__cell">From 9 February 2023 to 9 March 2023
                                            
                                        </td>
                                        <!-- Days -->
                                        <td class="govuk-table__cell">29</td>
                                    </tr>
                                 
                                
                                <!-- Total -->
                                <tr class="govuk-table__row">
                                    <!-- Dates -->
                                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">29
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     
                    
                    
                
            
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}