 
{% extends "../includes/layouts/template-linear.html" %}
 
{% block content %}
<!-- Overview -->


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            There are no sentences recorded
        </h1>
    </div>
</div>

{% if data['viewOption'] == 'RSReleasedTrue' %} 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="gouk-body"><a href="#">Record a court case now</a></p>
    </div>

</div>

{% elif  data['viewOption'] == 'adjustmentsReleasedTrue' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="gouk-body">Check the details in NOMIS and then <a class="govuk-link" href="#">try again</a>.</p> 
    </div>

</div>

{% else %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="gouk-body">Check the details in NOMIS and then <a class="govuk-link" href="#">try again</a>.</p> 
    </div>

</div>
        {% endif %}
 
{% endblock %}