{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="update-sentence-types" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">

    {# Get offence code from session #}
    {% set offenceCode = data['sentenceUpdated'] %}

    {# Find selected sentence and court case #}
    {% set selectedSentence = null %}
    {% set selectedCourtCase = null %}
    {% set selectedAppearance = null %}
    {% for courtCase in data.courtCases %}
      {% for appearance in courtCase.appearances %}
        {% for sentence in appearance.sentences %}
          {% if sentence['offence-code'] == offenceCode %}
            {% set selectedSentence = sentence %}
            {% set selectedCourtCase = courtCase %}
            {% set selectedAppearance = appearance %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Record a recall</span>
            Select the sentence type
          </h1>
        </legend>

        {% if selectedSentence %}
          <p class="govuk-body-l">{{ selectedSentence['offence-name'] }}</p>
        {% else %}
          <p class="govuk-body">No offence found for code {{ offenceCode }}.</p>
        {% endif %}

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-1" name="sentence-type" type="radio" value="SDS (Standard Determinate Sentence)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-1">SDS (Standard Determinate Sentence)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-2" name="sentence-type" type="radio" value="EDS (Extended Determinate Sentence)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-2">EDS (Extended Determinate Sentence)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-3" name="sentence-type" type="radio" value="SOPC (offenders of a particular concern)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-3">SOPC (offenders of a particular concern)</label>
            <div id="sopc-hint" class="govuk-hint govuk-radios__hint">
              A mandatory licence period of 12 months will automatically be added to the sentence
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-4" name="sentence-type" type="radio" value="ORA SDS (Offender rehabilitation act standard determinate sentence)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-4">ORA SDS (Offender rehabilitation act standard determinate sentence)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-5" name="sentence-type" type="radio" value="Automatic life">
            <label class="govuk-label govuk-radios__label" for="sentence-type-5">Automatic life</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-6" name="sentence-type" type="radio" value="BOTUS (Breach of top up supervision)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-6">BOTUS (Breach of top up supervision)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-7" name="sentence-type" type="radio" value="Adult discretionary life">
            <label class="govuk-label govuk-radios__label" for="sentence-type-7">Adult discretionary life</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-8" name="sentence-type" type="radio" value="Adult mandatory life">
            <label class="govuk-label govuk-radios__label" for="sentence-type-8">Adult mandatory life</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-9" name="sentence-type" type="radio" value="STS (Serious terrorism sentence)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-9">STS (Serious terrorism sentence)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-10" name="sentence-type" type="radio" value="VOO (Violent offender order)">
            <label class="govuk-label govuk-radios__label" for="sentence-type-10">VOO (Violent offender order)</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-11" name="sentence-type" type="radio" value="Civil imprisonment">
            <label class="govuk-label govuk-radios__label" for="sentence-type-11">Civil imprisonment</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sentence-type-12" name="sentence-type" type="radio" value="Imprisonment in default of a fine">
            <label class="govuk-label govuk-radios__label" for="sentence-type-12">Imprisonment in default of a fine</label>
          </div>
        </div>
      </fieldset>
    </div>

    <form class="form" action="/v19_1/recalls/update-sentence-types" method="post">
      <input type="hidden" name="{{ offenceCode }}" value="updated">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
          formaction="#" method="post">
          Cancel
        </button>
      </div>
    </form>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="offence-summary">
      <h2 class="govuk-heading-m govuk-!-margin-top-4">Court case details</h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
  
        <div class="govuk-summary-list__row offences-summary-card-court-details-row">
          <dt class="govuk-summary-list__key">Case reference</dt>
          <dd class="govuk-summary-list__value">{{ selectedAppearance['court-case-ref'] }}</dd>
        </div>
  
        <div class="govuk-summary-list__row offences-summary-card-court-details-row">
          <dt class="govuk-summary-list__key">Court name</dt>
          <dd class="govuk-summary-list__value">{{ selectedAppearance['court-name'] }}</dd>
        </div>
  
        <div class="govuk-summary-list__row offences-summary-card-court-details-row">
          <dt class="govuk-summary-list__key">Warrant date</dt>
          <dd class="govuk-summary-list__value">
            {{ selectedAppearance['warrant-date-day'] }}/{{ selectedAppearance['warrant-date-month'] }}/{{ selectedAppearance['warrant-date-year'] }}
          </dd>
        </div> 
  
      </dl>
    </div>
  
  </div>
  
</div>
{% endblock %}
