<div class="offence-summary">
  <h2 class="govuk-heading-m govuk-!-margin-top-4">Court case details</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Case reference</dt>
      <dd class="govuk-summary-list__value">34F2356911</dd>
    </div>
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Court name</dt>
      <dd class="govuk-summary-list__value">Manchester Crown Court (Crown Square)</dd>
    </div>
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Warrant date</dt>
      <dd class="govuk-summary-list__value">18/12/2024</dd>
    </div>
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Overall case outcome</dt>
      <dd class="govuk-summary-list__value">Imprisonment</dd>
    </div>
  </dl>
 
</div>
