<div class="offence-summary">
  <h2 class="govuk-heading-m govuk-!-margin-top-4">Court case details</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Case reference</dt>
      <dd class="govuk-summary-list__value">{{ lastAppearance['court-case-ref'] }}</dd>
    </div>
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Court name</dt>
      <dd class="govuk-summary-list__value">{{ lastAppearance['court-name'] }}</dd>
    </div>
    <div class="govuk-summary-list__row offences-summary-card-court-details-row">
      <dt class="govuk-summary-list__key">Warrant date</dt>
      <dd class="govuk-summary-list__value">{{ lastAppearance['warrant-date-day'] }}/{{ lastAppearance['warrant-date-month'] }}/{{lastAppearance['warrant-date-year'] }}</dd>
    </div>
  </dl>
 
</div>
