{% extends "includes/layouts/prototype-home-layout.html" %}
{% block content %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
                    {{serviceName}}
                </h1>
                <div class="app-masthead__description"> 
                    <ul class="govuk-list">
                        <li>
                          <a class="govuk-link govuk-link--inverse" href="https://miro.com/app/board/uXjVNTjoHT8=/?share_link_id=602180618685">Miro board</a>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--inverse" href="https://trello.com/b/YinWzCOw/x-product-features">Trello board</a>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--inverse" href="https://drive.google.com/drive/u/0/folders/1PRaFveYhgzPhQpm-oZyoKCyQ7Ulot0up?ths=true">Google drive</a>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--inverse" href="https://dsdmoj.atlassian.net/jira/software/c/projects/CMG/boards/1418">Jira board</a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</div>

<div class="moj-width-container govuk-!-margin-top-8">

<h2 class="govuk-heading-l">Prototypes</h2>
  
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Version 5
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
              In Design
            </strong>
          </span>
        </h2>
      </div> 
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <span class="govuk-caption-m">11 to 22 December 2023</span>
        <h3 class="govuk-heading-l">UR round 2</h3> 

        <form method="post">
          {{govukButton({
            text: "Launch prototype",
            attributes: {
              "formaction": "v5/overview",
              "formmethod": "get"
              },
              isStartButton: true
            })}}
          </form>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-caption-l govuk-visually-hidden" style="color: #0b0c0c;">Prototype versions</caption>
          <thead class="govuk-table__head" >
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="15%">Journey</th>
              <th scope="col" class="govuk-table__header">Description of changes</th>
              <th scope="col" class="govuk-table__header">Supporting documents</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" >
                <br>
              </td>
    
              <td class="govuk-table__cell"> 

                <h4 id="UR-scenario-1" class="govuk-heading-m">...</h4>

                <p>...</p>

              </td>
              <td class="govuk-table__cell" >
             ...
             </td> 
         
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Version 4
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                Closed
              </strong>
          </span>
        </h2>
      </div> 
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <span class="govuk-caption-m">27 November to 8 December 2023</span>
        <h3 class="govuk-heading-l">UR round 1</h3> 

        <form method="post">
          {{govukButton({
            text: "Launch prototype",
            attributes: {
              "formaction": "v4/overview",
              "formmethod": "get"
              },
              isStartButton: true
            })}}
          </form>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-caption-l govuk-visually-hidden" style="color: #0b0c0c;">Prototype versions</caption>
          <thead class="govuk-table__head" >
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="15%">Journey</th>
              <th scope="col" class="govuk-table__header">Description of changes</th>
              <th scope="col" class="govuk-table__header">Supporting documents</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" >
                <br>
              </td>
    
              <td class="govuk-table__cell"> 

                <h4 id="UR-scenario-1" class="govuk-heading-m">...</h4>

                <p>...</p>

              </td>
              <td class="govuk-table__cell" >
             ...
             </td> 
         
          </tbody>
        </table>
      </div>
    </div> 
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Design sprint
           
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
              Closed
            </strong>
          </span>
        </h2>
      </div> 
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <ul class="govuk-list">
            <li><a href="v3/overview">Version 3</a></li>
            <li><a href="v2/overview">Version 2</a></li>
            <li><a href="v1/overview">Version 1</a></li>
        </ul>

      </div>
    </div> 
  </div>

</div>
</div>
{% endblock %}