{% extends "includes/layouts/prototype-home-layout.html" %}
{% block content %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
                    {{serviceName}}
                </h1>
                <div class="app-masthead__description"> 
                    <h3 class="app-masthead__subtitle govuk-heading-m">
                        Cross-product prototypes and design resources for legacy systems replacement project.
                    </h3>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="govuk-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <h2 class="govuk-heading-l">Prototypes</h2>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Before running a prototype, make sure you <a class="govuk-link--no-visited-state" href="/manage-prototype/clear-data">clear data</a>.
                </strong>
              </div>
            
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="version-5">
                            Version 6.1
                            <strong class="govuk-tag govuk-tag--pink govuk-!-margin-left-1">
                            For research
                            </strong>

                            <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                                In Design
                                </strong>
                        </span>
                        </h2>
                    </div> 
                    <div id="version-5" class="govuk-accordion__section-content" aria-labelledby="version-5">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full"> 
                                <!-- <h3 class="govuk-heading-l">UR round 2</h3>  -->
                            <form action="post">
                                <div class="govuk-button-group"> 
                                    {{govukButton({
                                        text: "Launch from DPS homepage",
                                        attributes: {
                                        "formaction": "v6_1/DPS-menu",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}

                                    {{govukButton({
                                        text: "Launch from prisoner profile",
                                        attributes: {
                                        "formaction": "v6_1/DPS-prisoner-profile",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}


                                    {{govukButton({
                                        text: "Launch from overview",
                                        attributes: {
                                        "formaction": "v6_1/overview",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}

                                </div>
                            </form>
                            </div>
                            
                                <div class="govuk-grid-column-three-quarters"> 
                                <h4 class="govuk-heading-m">What we are testing</h4> 
                                <p class="govuk-body">This remote round of UR is due to take place in wc 29th January 2023.</p> 
                                <p class="govuk-body">In this round, we aim to:</p> 
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Understand how hub requirements might differ across prison types (we have focused on local prisons to date).</li>
                                    <li>Identify specific requirements for service features that users have told us are important to them (e.g.overview page, documents, calculation history).</li>
                                    <li>Observe how users interact with the "hub" in a transfer check scenario.</li>
                                    <li>Test the options for service name that came out of naming workshop and assessment.</li>
                                </ul>   
                                <h4 class="govuk-heading-m">Supporting documents</h4>
                                <ul class="govuk-list">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764574650552528&cot=14">Objectives and question areas (miro)</a></li> 
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764575918705983&cot=14">UR planning (miro)</a></li> 
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764576080741437&cot=14">Naming the service exercise (miro)</a></li> 
                                </ul> 

                                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                                <h4 class="govuk-heading-m">Scenario 1</h4> 
                                <p>...</p>

                                <p><a class="govuk-link" href="#">...</a></p> 

                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="version-5">
                            Version 6
                            <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                            In Design
                            </strong>
                        </span>
                        </h2>
                    </div> 
                    <div id="version-5" class="govuk-accordion__section-content" aria-labelledby="version-5">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full"> 
                                <!-- <h3 class="govuk-heading-l">UR round 2</h3>  -->
                            <form action="post">
                                <div class="govuk-button-group"> 
                                    {{govukButton({
                                        text: "Launch from DPS homepage",
                                        attributes: {
                                        "formaction": "v6/DPS-menu",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}

                                    {{govukButton({
                                        text: "Launch from prisoner profile",
                                        attributes: {
                                        "formaction": "v6/DPS-prisoner-profile",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}


                                    {{govukButton({
                                        text: "Launch from overview",
                                        attributes: {
                                        "formaction": "v6/overview",
                                        "formmethod": "get"
                                        },
                                        classes: "govuk-button--secondary"
                                        })}}

                                </div>
                            </form>
                            </div>
                            
                                <div class="govuk-grid-column-three-quarters"> 
                                <h4 class="govuk-heading-m">Changes in this version</h4> 

                                <ul class="govuk-list govuk-list--number">
                                    <li>Updates to the overview page</li>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>Removing the dashboard tiles</li>
                                        <li>Things to do notfications</li>
                                        <!-- <li>Adding top tasks</li> -->
                                    </ul> 
                                    <li>Revisiting empty states</li>
                                    <li>CRDS improvements</li>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>Surfacing calculation reason</li>
                                        <li>Calculation history</li>
                                    </ul> 
                                    <li>Having a read-only court cases tab</li>
                                    <li>How we indicate the source of data from NOMIS</li>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>Court cases</li>
                                            <li>Release dates</li>
                                            <li>Calculation history</li>
                                            <li>Next court date</li> 
                                        </ul> 
                                </ul> 

                                <h4 class="govuk-heading-m">Supporting documents</h4>
                                <ul class="govuk-list">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764574754429274&cot=14">Exploration of 'things to do' notifications</a></li>
                                </ul> 

                                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                                <h4 class="govuk-heading-m">1. Updates to the overview</h4> 

                                <h5 class="govuk-heading-s">Removing tiles</h5> 
                                <p>We've been reconsidering the three dashboard tiles at the top of the page which don't provide a lot of function for their size.</p>
                                <h5 class="govuk-heading-s">'Things to do' notifications</h5> 
                                <p>We've been looking at cross-service notifications. Off the back of this work, we have added the 'Things to do' section back in to explore this further. Initially we envisage things like reviewing ADAs and prompts to calculate release dates to be shown here. Some examples:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764574754429274&cot=14">All examples (miro)</a></li>
                                    <li><a class="govuk-link" href="v6/overview?toDo=reviewAda">Review ADAs</a></li>
                                    <li><a class="govuk-link" href="v6/overview?toDo=reviewPada">Review PADAs</a></li>
                                    <li><a class="govuk-link" href="v6/overview?toDo=adjustmentsApplied">Calculate release dates</a></li>
                                </ul> 

                                <h4 class="govuk-heading-m">2. Revisiting empty states</h4> 

                                <p>In some scenarios, there may not be data to show on the service because there has not been any information provided or actions taken.</p>


                                <p>Scenario 1: there are no court cases and sentences added.</p>

                                <ul class="govuk-list govuk-list--bullet">  
                                    <li><a class="govuk-link" href="v6/no-court-cases?viewOption=RSReleasedTrue">Post-R&S release</a></li>
                                    <li><a class="govuk-link" href="v6/no-court-cases?viewOption=adjustmentsReleasedTrue">Pre-R&S release</a></li>
                                    <li><a class="govuk-link" href="v6/release-dates?toShow=courtCaseAddedFalse&viewOption=adjustmentsReleasedFalse">Pre-ADJ release (CRDS service)</a></li>  
                                </ul> 


                                <p>Scenario 2: there are no release dates calculated.</p>

                                <ul class="govuk-list govuk-list--bullet">  
                                    <li><a class="govuk-link" href="v6/overview?toDo=generalChangesApplied&toShow=releaseDatesNone">Overview</a></li>
                                    <li><a class="govuk-link" href="v6/adjustments?toShow=releaseDatesNone">Adjustments</a></li>   
                                    <li><a class="govuk-link" href="v6/release-dates?toShow=releaseDatesNone">Release dates</a></li>  
                                    <li><a class="govuk-link" href="v6/release-dates?toShow=releaseDatesNone&viewOption=adjustmentsReleasedFalse">Release dates (Pre-ADJ release)</a></li>  
                                </ul> 


                                <h4 class="govuk-heading-m">3. CRDS improvements</h4> 
                                <p>We've been looking at ways we need to amend CRDS journeys in order to fit the hub features in, such as removing the start page. Alongside this, we've been making some improvements to existing journeys along the way.</p>

                                <h5 class="govuk-heading-s">Surfacing calculation reason</h5> 

                                <p>CRDS now captures a reason for calculation, we now surface this when the user looks up a calculation.</p>

                                <h5 class="govuk-heading-s">Calculation history</h5> 

                                <p>We've been looking to improve the calculation look-up journey. Now that there is no start page, we surface all previous calculation in a table on the calculations and release dates tab. </p>

                                <p>Because some calculations may come from NOMIS, we've had to consider some of the imprications of this on our design. One of these being that NOMIS automatically produces a new calculation any time that there is a change to a prisoners record. This could muddy up our table. (DESIGN TBC) </p>

                                <p>We've also improved the user experience of viewing the details of an existing calculation. Previously this replicated the calculation journey and was always seen as a temporary journey.  </p>

                                <p>Some new <b>calculation details</b> options below:</p>
                                
                                <ul class="govuk-list govuk-list--number">  
                                    <li><a class="govuk-link" href="v6/calculation-history/05-08-2023/calculation">Side nav, condensed onto one page</a></li>
                                    <li><a class="govuk-link" href="v6/calculation-history/05-08-2023/calculation-release-dates">Side nav, separate pages</a></li>
                                    <li><a class="govuk-link" href="#">Sub nav (WIP)</a></li> 
                                    <li><a class="govuk-link" href="#">Accordion (WIP)</a></li> 
                                </ul> 

                                <h4 class="govuk-heading-m">4. Read-only court cases tab</h4> 

                                <p>We've previously assumed that before R&S is released, users would not see the court cases tab (see version 5). We're now considering wether we could use data from NOMIS in order to provide the user with a read-only version of the court cases tab earlier. This is subject to agreement with R&S team and designs would be lead by them, for now we're just experimenting for the sake of upcoming UR.</p>

                                <p><a href="v6/court-cases?viewOption=RSReadOnly">Read-only court cases tab</a></p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="version-5">
                            Version 5
                            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                                Closed
                            </strong>
                        </span>
                        </h2>
                    </div> 
                    <div id="version-5" class="govuk-accordion__section-content" aria-labelledby="version-5">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-three-quarters"> 
                                <!-- <h3 class="govuk-heading-l">UR round 2</h3>  -->

                                <form method="post">
                                {{govukButton({
                                    text: "Launch prototype",
                                    attributes: {
                                    "formaction": "v5/overview",
                                    "formmethod": "get"
                                    },
                                    isStartButton: true
                                    })}}
                                </form>
                                <h4 class="govuk-heading-m">Changes in this version</h4> 

                                <ul class="govuk-list govuk-list--number">
                                    <li>Additions to the overview page, starting with:</li>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>upcoming court hearing details</li>
                                            <li>number of active court cases</li>
                                            <li>upcoming release dates</li>
                                        </ul> 
                                    </ul> 
                                    <li>Release dates tab and history of calculations. </li>
                                    <li>Documents tab</li>
                                    <li>Entry points to the hub and related tasks</li> 
                                    <li>Snapshots of the hub at different stages of release</li> 
                                    <li>Updated search functionality</li>
                                    <li>Empty states (page variants where there is nothing to show)</li> 
                                </ul> 

                                <h4 class="govuk-heading-m">Supporting documents</h4>
                                <ul class="govuk-list">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764572866117812&cot=14">UR analysis, playback and next steps (Miro)</a></li>
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764571499538429&cot=14">Entry points exploration (Miro)</a></li> 
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764572997061242&cot=14">Document upload pattern (Miro)</a></li> 
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764574650552528&cot=14">UR Round 2 planning (Miro)</a></li> 
                                </ul> 

                                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                                <h4 class="govuk-heading-m">1. Additions to the overview</h4> 
                                <p>Based on our first UR card sorting activity, we made some additions to the overview page, starting with:</p> 
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>upcoming court hearing details</li>
                                            <li>number of active court cases</li>
                                            <li>upcoming release dates</li>
                                        </ul>

                                <h4 class="govuk-heading-m">2. Release dates and calculation history</h4> 
                                <p>CRDS is the first spoke of the hub and spoke. Included in this is the ability to view the latest calculation, view historic calculations (and their breakdowns). </p>

                                <p><a class="govuk-link" href="v5/release-dates">Release dates tab</a></p> 

                                <h4 class="govuk-heading-m">3. Documents and document upload 
                                    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                                    Experimental
                                    </strong>
                                </h4> 
                                <p>We've built a repository for holding documents. We are looking at ways in which these documents could be uploaded and surfaced throughout the service. </p>

                                <p>We envisage that documents could be uploaded within the context of other tasks - such as adding a court case through the Remand and Sentencing - but we've also been looking at ways in which users could upload and access documents through the hub. </p>

                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/documents">Documents tab</a></li> 
                                    <li><a class="govuk-link" href="v5/add-documents/document-type">Upload a document journey</a></li>   
                                </ul> 

                                <h4 class="govuk-heading-m">4. Entry points to the hub</h4> 
                                
                                <p class="govuk-body">Entry through the DPS Homepage (task-based version): 
                                
                                </p>
                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/DPS-home?navOption=task-based">DPS Homepage</a></li> 
                                    <li><a class="govuk-link" href="v5/DPS-menu">DPS menu options page</a></li>  
                                    <li><a class="govuk-link" href="v5/search-person">Search for a person</a></li>  
                                    <li><a class="govuk-link" href="v5/search-person-results">Search for a person (results)</a></li>  
                                </ul> 
                                
                                <p class="govuk-body">Entry through the DPS Homepage (single-entry version):
                                    <strong class="govuk-tag govuk-tag--grey">
                                    Experimental
                                    </strong>
                                </p>
                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/DPS-home?navOption=single-entry">DPS Homepage</a></li>
                                    <li><a class="govuk-link" href="v5/search-person?navOption=single-entry">Search for a person</a></li>  
                                </ul> 
                                
                                <p class="govuk-body">Entry through the DPS Prisoner Profile:</p>
                                <ul class="govuk-list"> 
                                    <li><a class="govuk-link" href="v5/DPS-prisoner-profile">Entry through the DPS Prisoner Profile</a></li>
                                </ul> 

                                <h4 class="govuk-heading-m">5. Snapshots of what the hub looks like at each stage of release</h4> 

                                <p class="govuk-body">We need to consider what the hub might look like a different stages of release. </p>

                                <p class="govuk-body">Adjustments will be rolled out around March but not to all prisons currently using the CRDS service, this might be the same scenario when it comes time to release Remand and Sentencing.</p>
                                <p class="govuk-body">This means that there may be multiple variations of the hub in different prisons at one time. We need to account for this in the design. </p>

                                <h5 class="govuk-heading-s">The hub before adjustments release</h5> 

                                <p class="govuk-body">Entry through the DPS Homepage (task-based version):</p>
                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/DPS-home?viewOption=adjustmentsReleasedFalse">DPS Homepage</a></li> 
                                    <li><a class="govuk-link" href="v5/DPS-menu?viewOption=adjustmentsReleasedFalse">DPS menu options page</a></li>   
                                </ul> 
                                <p class="govuk-body">Entry to the hub through the prisoner profile:</p>

                                <ul class="govuk-list "> 
                                    <li><a class="govuk-link" href="v5/DPS-prisoner-profile?viewOption=adjustmentsReleasedFalse">Entry through the DPS Prisoner Profile</a></li>
                                </ul> 
 
                                <h5 class="govuk-heading-s">The hub after adjustments release</h5> 


                                <p class="govuk-body">Entry through the DPS Homepage (task-based version):</p>
                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/DPS-home?viewOption=adjustmentsReleasedTrue">DPS Homepage</a></li> 
                                    <li><a class="govuk-link" href="v5/DPS-menu?viewOption=adjustmentsReleasedTrue">DPS menu options page</a></li>   
                                </ul> 
                                <p class="govuk-body">Entry to the hub through the prisoner profile:</p>

                                <ul class="govuk-list "> 
                                    <li><a class="govuk-link" href="v5/DPS-prisoner-profile?viewOption=adjustmentsReleasedTrue">Entry through the DPS Prisoner Profile</a></li>
                                </ul> 

                                <h5 class="govuk-heading-s">The hub after remand and sentencing release</h5> 
                                
                                <p class="govuk-body">Entry through the DPS Homepage (task-based version):</p>
                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/DPS-home?navOption=task-based">DPS Homepage</a></li> 
                                    <li><a class="govuk-link" href="v5/DPS-menu">DPS menu options page</a></li>   
                                </ul> 

                                <p class="govuk-body">Entry through the DPS Prisoner Profile:</p>
                                <ul class="govuk-list"> 
                                    <li><a class="govuk-link" href="v5/DPS-prisoner-profile">Entry through the DPS Prisoner Profile</a></li>
                                </ul> 


                                <h3 class="govuk-heading-m">6. Prisoner search</h3> 

                                <p>We've made improvement to the existing search functionality which exists within the CRDS service. We have brought the search and search results into line with DPS search, including prisoner images.</p>

                                <ul class="govuk-list govuk-list--bullet"> 
                                    <li><a class="govuk-link" href="v5/search-person">Search page</a></li> 
                                    <li><a class="govuk-link" href="v5/search-person-results">Search results</a></li>   
                                </ul> 

                                <h3 class="govuk-heading-m">7. Empty states (page variants where there is nothing to show)</h3> 

                                <p>In some scenarios, there may not be data to show on the service because there has not been any information provided or actions taken.</p>


                                <p>Scenario 1: there are no court cases and sentences added.</p>

                                <ul class="govuk-list govuk-list--bullet"> 

                                    <li><a class="govuk-link" href="v5/overview?toShow=courtCaseAddedFalse&viewOption=RSReleasedTrue">Overview</a></li>
                                    <li><a class="govuk-link" href="v5/court-cases?toShow=courtCaseAddedFalse&viewOption=RSReleasedTrue">Court cases</a></li> 
                                    <li><a class="govuk-link" href="v5/adjustments?toShow=courtCaseAddedFalse&viewOption=RSReleasedTrue">Adjustments</a></li>  
                                    <li><a class="govuk-link" href="v5/release-dates?toShow=courtCaseAddedFalse&viewOption=RSReleasedTrue">Release dates</a></li> 

                                </ul> 

                                <ul class="govuk-list govuk-list--bullet"> 

                                    <li><a class="govuk-link" href="v5/overview?toShow=courtCaseAddedFalse&viewOption=adjustmentsReleasedTrue">Overview (pre-R&S release)</a></li>
                                    <li><a class="govuk-link" href="v5/adjustments?toShow=courtCaseAddedFalse&viewOption=adjustmentsReleasedTrue">Adjustments (pre-R&S release)</a></li>   
                                    <li><a class="govuk-link" href="v5/release-dates?toShow=courtCaseAddedFalse&viewOption=adjustmentsReleasedTrue">Release dates (pre-R&S release)</a></li>  
                                </ul> 



                                <ul class="govuk-list govuk-list--bullet"> 

                                    <li><a class="govuk-link" href="v5/release-dates?toShow=courtCaseAddedFalse&viewOption=adjustmentsReleasedFalse">Release dates (pre-ADJ release)</a></li>  
                                </ul> 


                                <p>Scenario 2: there are no release dates calculated.</p>

                                <ul class="govuk-list govuk-list--bullet">  
                                    <li><a class="govuk-link" href="v5/overview?toShow=releaseDatesNone">Overview</a></li>
                                    <li><a class="govuk-link" href="v5/adjustments?toShow=releaseDatesNone">Adjustments</a></li>   
                                    <li><a class="govuk-link" href="v5/release-dates?toShow=releaseDatesNone">Release dates</a></li>  
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="version-4">
                            Version 4
                            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                                Closed
                            </strong>
                        </span>
                        </h2>
                    </div> 
                    <div id="version-4" class="govuk-accordion__section-content" aria-labelledby="version-4">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-three-quarters">
                                <span class="govuk-caption-m">27 November 2023 to 8 December 2023</span>
                                <h3 class="govuk-heading-l">UR round 1</h3> 
                        
                                <form method="post">
                                {{govukButton({
                                    text: "Launch prototype",
                                    attributes: {
                                    "formaction": "v4/overview",
                                    "formmethod": "get"
                                    },
                                    isStartButton: true
                                    })}}
                                </form>
                        
                                <h4 class="govuk-heading-m">Changes in this version</h4> 
                                <p class="govuk-body">This is the first version of the hub design during this new phase of work.</p>
                                <p class="govuk-body">As we kick-off this work, we stripped out the majority of the previous design features (for now), with an aim to carry out some UR to identify the most important features to focus on MVP. We then carried out a card-sorting activity with users, primarily from reception prisons. </p>
                                <p class="govuk-body">We'll use this UR to inform our initial designs for build and to help us target specific features to research more in-depth in the next round.</p>
                                
                                <h4 class="govuk-heading-m">Supporting documents</h4>
                                <ul class="govuk-list">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764569782906104&cot=14">UR planning doc (Miro)</a></li>
                                </ul> 
                            </div> 
                        </div>
                    </div>
                </div> 
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="design-sprint">
                            Design sprint
                            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                                Closed
                            </strong>
                        </span>
                        </h2>
                    </div> 
                    <div id="design-sprint" class="govuk-accordion__section-content" aria-labelledby="design-sprint">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                <span class="govuk-caption-m">Pre-November 2023</span>
                                <h4 class="govuk-heading-m">Changes in this version</h4> 
                                <p class="govuk-body">These prototype versions come from a design sprint which was done during the summer of 2023. This work was used as a proof of concept to see what could be possible in the hub. </p>
                            
                                <h4 class="govuk-heading-m">Prototype links</h4> 
                                <ul class="govuk-list">
                                    <li><a href="v3/overview">Version 3</a></li>
                                    <li><a href="v2/overview">Version 2</a></li>
                                    <li><a href="v1/overview">Version 1</a></li>
                                </ul>

                                <h4 class="govuk-heading-m">Supporting documents</h4>
                                <ul class="govuk-list">
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVMLjUSwY=/?moveToWidget=3458764561589100154&cot=14">Previous hub design work (Miro)</a></li>
                                    <li><a class="govuk-link" href="https://miro.com/app/board/uXjVMTsydIo=/?moveToWidget=3458764560895129934&cot=14">HUB feedback from DPS Connect (Miro)</a></li>
                                </ul> 
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter"> 
            <aside class="app-related" role="complementary" style="border-top: 2px solid #1d70b8; padding-top:15px">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Useful links</h2>
                <ul class="govuk-list">
                    <li>
                    <a class="govuk-link" href="design-manual/index">Design manual (under construction)</a>
                    </li>
                    <li>
                    <a class="govuk-link" href="https://miro.com/app/board/uXjVNTjoHT8=/?share_link_id=602180618685">Miro board</a>
                    </li>
                    <li>
                    <a class="govuk-link" href="https://trello.com/b/YinWzCOw/x-product-features">Trello board</a>
                    </li>
                    <li>
                    <a class="govuk-link" href="https://drive.google.com/drive/u/0/folders/1PRaFveYhgzPhQpm-oZyoKCyQ7Ulot0up?ths=true">Google drive</a>
                    </li>
                    <li>
                    <a class="govuk-link" href="https://dsdmoj.atlassian.net/jira/software/c/projects/CMG/boards/1418">Jira board</a>
                    </li>
                </ul>
                </aside>
            
        </div>
    </div>
</div> 

{% endblock %}