{% extends "includes/layouts/prototype-home-layout.html" %}
{% block content %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
                    {{serviceName}}
                </h1>
                <h3 class="app-masthead__subtitle govuk-heading-l">Prototypes</h3>
                <div class="app-masthead__description">
                    <p class="govuk-body"></p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</div>

<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Hub prototypes for UR - November 2023</h2>
            <ul class="govuk-list">
                <li><a href="v4/overview">Version 4</a></li> 
            </ul>
            <h2 class="govuk-heading-l">Hub design sprint prototypes</h2>
            <ul class="govuk-list">
                <li><a href="v3/overview">Version 3</a></li>
                <li><a href="v2/overview">Version 2</a></li>
                <li><a href="v1/overview">Version 1</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}