{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="return-to-custody-date" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Record a recall</span>
                Check that the sentences and offences are correct
            </h1>

            <!-- <p class="govuk-body">We have found 1 sentence in relation to this recall.</p> -->
            <p class="govuk-body">The latest SLED (Sentence and licence expiry date) is <b>Sunday, 2 March
                    2025</b>. This is the SLED on this person's licence.</p>

            <h2 class="govuk-heading-l govuk-!-margin-top-4">
             Court cases with sentences eligible for recall
            </h2>
            <h2 class="govuk-heading-m">T20230101 <span class="font-weight-regular">at</span> Bristol Magistrates Court (2)</h2>

            <div class="offence-card sentence-card">
                <div class="offence-card-offence-details">
                    <span class="govuk-body-s">Count 1</span> 
                    <h4 class="govuk-heading-s">CJ88001 - Burglary other than dwelling - theft</h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                CJA code
                            </dt>
                            <dd class="govuk-summary-list__value">
                                TH68
                            </dd>
                        </div>
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                01/11/2023
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                03/01/2024
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                ORA Sentencing Code Standard Determinate Sentence 
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">

                                0 years

                                10 months

                                0 weeks

                                0 days

                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Forthwith
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>


            <div class="offence-card sentence-card">
                <div class="offence-card-offence-details">
                    <span class="govuk-body-s">Count 2</span>
                    <h4 class="govuk-heading-s">CJ88001 - Burglary other than dwelling - theft</h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                CJA code
                            </dt>
                            <dd class="govuk-summary-list__value">
                                TH68
                            </dd>
                        </div>
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                01/11/2023
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                03/01/2024
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                ORA Sentencing Code Standard Determinate Sentence 
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">

                                0 years

                                14 months

                                0 weeks

                                0 days

                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Concurrent
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>


            <!-- <h2 class="govuk-heading-m">Sentences with an expired SLED (5)</h2> -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text govuk-!-font-size-24">
                    View sentences with an expired SLED (1)
                  </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="offence-card sentence-card">
                        <div class="offence-card-offence-details">
                            <span class="govuk-body-s">Count 3</span>
                            <h4 class="govuk-heading-s">CJ88023 - Conspire to commit a burglary dwelling with intent to steal</h4>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">


                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        CJA code
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        TH68
                                    </dd>
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Commited on
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        01/11/2023
                                    </dd>
                                </div>
        
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Conviction date
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        03/01/2024
                                    </dd>
                                </div>
        
        
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        ORA Sentencing Code Standard Determinate Sentence 
                                    </dd>
                                </div>
        
        
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
        
                                        0 years
        
                                        6 months
        
                                        0 weeks
        
                                        0 days
        
                                    </dd>
                                </div>
        
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Concurrent
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
        
                </div>
              </details>

<!-- 
            <h2 class="govuk-heading-l govuk-!-margin-top-8">
               Other active court cases 
            </h2>


            <h2 class="govuk-heading-m"> T27060876 <span class="font-weight-regular">at</span> Manchester Crown Court (1)</h2>

            <div class="offence-card sentence-card">
                <div class="offence-card-offence-details">
                    <span class="govuk-body-s">Count 1</span>
                    <h4 class="govuk-heading-s">CJ88003 - Another offence type</h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                CJA code
                            </dt>
                            <dd class="govuk-summary-list__value">
                                2020
                            </dd>
                        </div>
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                01/1/2024
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                15/01/2024
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                SDS (Standard Determinate Sentence)
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">

                                0 years

                                12 months

                                0 weeks

                                0 days

                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Forthwith
                            </dd>
                        </div>
                    </dl>
                </div>
            </div> -->

            <!-- <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        T20230101 <span class="govuk-body">at</span> Bristol Magistrates Court
                    </h2>
                    <ul class="govuk-summary-card__actions">
                   
                    </ul>
                </div>
                <div class="govuk-summary-card__content"> 
                  
                    <div class="offence-card sentence-card">
                        <div class="offence-card-offence-details">
                            <span class="govuk-body-s">Count 1</span>
                            <h4 class="govuk-heading-s">CJ88001 - Burglary other than dwelling - theft</h4>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">

 
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        CJA code
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        2020
                                    </dd>
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Commited on
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        01/1/2024
                                    </dd>
                                </div>
 
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Conviction date
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        15/01/2024
                                    </dd>
                                </div>


                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        SDS (Standard Determinate Sentence)
                                    </dd>
                                </div>


                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">

                                        0 years

                                        12 months

                                        0 weeks

                                        0 days

                                    </dd>
                                </div>
 
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Concurrent
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>


                </div>
            </div> 
        </div> -->


        <h2 class="govuk-heading-l govuk-!-margin-top-8">Confirm the sentences and offences are correct</h2>

        <!-- Call to action --> 
        <p class="govuk-body">If you think some information is wrong, you can manage all court case
            information on <a class="govuk-link" target="external" href="../court-cases">Court cases and
                release dates (opens in a new tab)</a>.</p>
     
        <div class="govuk-button-group"> 


            {% if (data['editLogic'] == 'editing') %}
            <form method="post" action="edit-a-recall">
            {% elif (data['editLogic'] == 'notediting') %}
            <form method="post" action="recall-type-fixed-question">
            {% endif %}
                <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                Confirm and continue
                </button> 
            </form>
            <form method="post" action="cancel">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </button>
            </form>
        </div> 
    </div>
</div>
{% endblock %}